.list {
  background: var(--window-bg);
  color: var(--window-fg);
  border: 1px solid var(--border);
  overflow: auto;
  cursor: default;
}

.list > [role="option"] {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.list > [role="option"][aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.list > [role="option"]:focus {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.list > [role="option"][aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-grid > .icon {
  flex: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}

.icon-grid > .icon > .icon-label {
  margin-top: 5px;
  text-align: center;
}

.icon-grid > .icon:focus {
  outline: none;
}

.icon-grid > .icon:focus > .icon-label {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.icon-grid > .icon[aria-selected="true"] > .icon-label {
  outline: 1px solid var(--selection-bg);
}

.icon-grid:focus-within > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  outline: none;
}

.icon-grid > .icon[aria-selected="true"]:focus > .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed {
  width: 100%;
  border-spacing: 0;
}

.detailed th {
  text-align: left;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}
.detailed tr {
  outline: none;
}

.detailed tr:focus {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.detailed tr[aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed tr[aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.detailed .icon:focus .icon-label {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.detailed .icon[aria-selected="true"] .icon-label {
  outline: 1px solid var(--selection-bg);
}

.detailed:focus-within .icon[aria-selected="true"] .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  outline: none;
}

.detailed .icon[aria-selected="true"]:focus .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed td {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
}

.detailed td.icon {
  display: flex;
}

.detailed .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 1px;
  margin-left: -4px;
}

.detailed .icon > .icon-label {
  text-align: center;
  padding: 1px 3px;
}

.detailed thead {
  position: sticky;
  top: 0;
}

.list ul[role="tree"] {
  li {
    list-style-type: none;
    min-height: 24px;
    padding-top: 2px;

    & > details {
      margin: 0;
      display: block;

      & > summary {
        margin: 0;
        display: flex;
        align-items: center;
      }
    }
  }

  .icon {
    & > img {
      width: 16px;
      height: 16px;
      margin-right: 1px;
    }

    & > .icon-label {
      text-align: center;
      padding: 1px 3px;
    }
  }

  [role=treeitem] {
    display: inline-flex;
    outline: none;
    align-items: center;

    &:focus {
      outline: 1px dotted var(--border);
      outline-offset: -1px;
    }

    &[aria-selected="true"] {
      outline: 1px solid var(--selection-bg);
    }

    &[aria-selected="true"]:focus {
      outline: 1px dotted var(--selection-inverse);
    }
  }

  &:focus-within [role=treeitem][aria-selected="true"] {
    background-color: var(--selection-bg);
    color: var(--selection-fg);
  }

  ul {
    margin-left: 8px;
    padding-left: 10px;

    li {
      position: relative;
      margin-left: -15px;
      padding-left: 14px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 4px;
        bottom: 0;
        border-left: 1px solid var(--border);
      }

      &:last-child::before {
        bottom: initial;
        height: 13px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 12px;
        left: 5px;
        width: 6px;
        border-bottom: 1px solid var(--border);
      }
    }
  }
}
