[role=menu] {
  color: var(--menu-fg);
  background-color: var(--menu-bg);
  border: 1px solid var(--border);
}

[role=menubar] {
  color: var(--menu-fg);
  background-color: var(--menu-bg);
}

.menu > [role=menu] {
  border-top: 0;
}

[role=menu] li {
  padding: 1px 3px;
}

[role=menu] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}

[role=menu] li > ul {
  left: 100%;
  margin: 0;
  top: -1px;
  min-width: 200px;
}

[role=menubar] > li > ul {
  left: 0;
  top: 100%;
  min-width: 200px;
}

[role=menu] li:focus,
[role=menubar] li:focus {
  outline: none;
}

[role=menubar] > li {
  padding: 1px 8px;
}

[role=menu] li:focus-within,
[role=menubar] li:focus-within {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

[role=menu] li[aria-disabled],
[role=menubar] li[aria-disabled] {
  color: var(--disabled);
  border-color: transparent;
}

[role=menu] li[role=separator] {
  border-top: 1px solid var(--border);
  height: 0;
  padding: 0;
  margin: 2px 0;
}

[role=menu] > li[aria-haspopup=true] {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: currentColor;
    -webkit-mask-image: url(arrow-right.svg);
    -webkit-mask-size: 4px 7px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url(arrow-right.svg);
    mask-size: 4px 7px;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

