progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--border);
}

progress::-webkit-progress-bar {
  background: var(--input-bg);
}

progress::-webkit-progress-value {
  background: var(--selection-bg);
}

progress::-moz-progress-bar {
  background: var(--selection-bg);
}


