progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--border);
}

progress::-webkit-progress-bar {
  background: var(--input-bg);
}

progress::-webkit-progress-value {
  background: var(--selection-bg);
}

progress::-moz-progress-bar {
  background: var(--selection-bg);
}

progress:indeterminate::-moz-progress-bar {
  width: 42px;
  animation: 1s infinite linear indeterminate;
}

progress:not([value])::-webkit-progress-value {
  width: 42px;
  animation: 1s infinite linear indeterminate;
}

@keyframes indeterminate {
  from {
    margin-left: -30px;
  }

  to {
    margin-left: 100%;
  }
}
