:root {
  --desktop-bg: #C0C0C0;

  --workspace-bg: #FFFFFF;

  --window-bg: #FFFFFF;
  --window-fg: #000000;

  --button-bg: #C0C0C0;
  --button-fg: #000000;
  --button-dark: #808080;
  --button-light: #FFFFFF;
  --input-bg: var(--window-bg);
  --input-fg: var(--window-fg);

  --border: #000000;
  --disabled: #808080;

  --window-frame: #C0C0C0;
  --window-frame-active: var(--window-frame);

  --menu-bg: #FFFFFF;
  --menu-fg: #000000;

  --title-bar-bg: #FFFFFF;
  --title-bar-fg: #000000;

  --title-bar-active-bg: #0000C0;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #0000C0;
  --selection-fg: #FFFFFF;
  --selection-inverse: #FFFF3F;
}

body {
  background-color: var(--window-bg);
  color: var(--window-fg);
  font-family: system-ui;
}

button::-moz-focus-inner {
  border: none;
}

.desktop {
  background: var(--desktop-bg);
}

.raised {
  background: var(--window-bg);
  border: 1px solid var(--border);
}

.lowered {
  background: var(--window-bg);
  border: 1px solid var(--border);
}

.raised > .lowered {
  border: 0;
}

.raised.stack-row > .lowered + .lowered {
  border-left: 1px solid var(--border);
}

.raised.stack-column > .lowered + .lowered {
  border-top: 1px solid var(--border);
}

.top-panel {
  background: var(--window-bg);
  border-bottom: 1px solid var(--border);
}

.right-panel {
  background: var(--window-bg);
  border-left: 1px solid var(--border);
}

.bottom-panel {
  background: var(--window-bg);
  border-top: 1px solid var(--border);
}

.left-panel {
  background: var(--window-bg);
  border-right: 1px solid var(--border);
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

a:focus {
  outline: 1px dotted var(--border);
}

details > summary,
button,
button:disabled:active {
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--border);
  border-radius: 2.5px;
  padding: 2px 32px;
  position: relative;
  box-shadow: inset -1px -1px 0 var(--button-dark), inset 1px 1px 0 var(--button-light), 
    inset -2px -2px 0 var(--button-dark), inset 2px 2px 0 var(--button-light);
  outline: none;
}

button:focus,
details > summary:focus {
  box-shadow: inset 1px 1px 0 var(--border), inset -1px -1px 0 var(--border),
    inset -2px -2px 0 var(--button-dark), inset 2px 2px 0 var(--button-light), 
    inset -3px -3px 0 var(--button-dark), inset 3px 3px 0 var(--button-light);
}

button:focus:after,
details > summary:focus:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 30px;
  right: 30px;
  border: 1px dotted var(--button-dark);
}

button:disabled,
button:disabled:active,
select:not([size]):disabled {
  color: var(--disabled);
}

details > summary:active,
button:active {
  box-shadow: inset 1px 1px 0 var(--border), inset -1px -1px 0 var(--border),
    inset 2px 2px 0 var(--button-dark);
  padding: 3px 31px 1px 33px;
}

details > summary:active:after,
button:active:after {
  top: 4px;
  bottom: 2px;
  left: 31px;
  right: 29px;
}


select > option {
  padding: 2px 6px;
}

input[type="text"],
pre,
textarea,
select {
  background-color: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--border);
  padding: 2px 6px;
  font-family: inherit;
  font-size: inherit;
}

input::selection,
textarea::selection {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

select:not([size]):not(:active):focus,
select[size="1"]:not(:active):focus {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  box-shadow: inset 1px 1px 0 var(--input-bg), inset -1px -1px 0 var(--input-bg);
}

input[type=text]:disabled,
textarea:disabled,
select:disabled > option,
select:disabled {
  color: var(--disabled);
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--input-fg);
  width: 13px;
  height: 13px;
}

input[type=checkbox]:active,
input[type=checkbox]:disabled,
input[type=radio]:active,
input[type=radio]:disabled {
}

input[type=checkbox]:checked {
  background-image: url(checkmark.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  color: var(--disabled);
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--input-fg);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

input[type=radio]:checked::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--input-fg);
  margin-top: 2px;
  margin-left: 2px;
}

input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
  outline: 1px dotted var(--border);
  outline-offset: 0;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

label > input[type=radio]:focus,
label > input[type=checkbox]:focus {
  outline: 1px dotted var(--border);
  outline-offset: 1px;
}

code {
  font-family: monospace;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--border);
}

progress::-webkit-progress-bar {
  background: var(--input-bg);
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background: var(--selection-bg);
}

fieldset {
  border: 1px solid var(--border);
  position: relative;
}

legend {
  text-align: left;
  padding: 0 2px;
  display: block;
}

hr {
  border-top: 1px solid var(--border);
}

.window,
.dialog,
.menu {
  background: var(--window-frame-active);
  border: 1px solid var(--border);
  position: relative;
  padding: 2px;
}

.window.maximized,
.dialog.maximized {
  border: none;
  padding: 0;
}

.dialog {
  background: var(--title-bar-active-bg);
}

.title-bar {
  background: var(--title-bar-active-bg);
  color: var(--title-bar-active-fg);
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border: 1px solid var(--border);
}

.dialog > .title-bar {
  border: 1px solid var(--window-bg);
  border-bottom-color: var(--border)
}

.title-bar-text {
  text-align: center;
  font-weight: bold;
  padding: 2px 4px;
  flex-grow: 1;
  cursor: default;
}

.title-bar-buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.title-bar-buttons button {
  flex-shrink: 0;
  width: 24px;
  min-width: 0;
  padding: 0;
  border: 0;
  border-left: 1px solid var(--border);
  border-radius: 0;
  background-color: var(--button-bg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
}

.title-bar-buttons button::after {
  display: none;
}

.title-bar-buttons:first-child button { 
  border: 0;
  border-right: 1px solid var(--border);
}

.title-bar-buttons button:active {
  outline: none;
  box-shadow: inset 1px 1px 0 var(--button-dark);
  background-position: 8px 10px;
}

.title-bar-buttons button[data-close] {
  background-image: url(close.gif);
}

.title-bar-buttons button[data-minimize] {
  background-image: url(minimize.gif);
}

.title-bar-buttons button[data-maximize] {
  background-image: url(maximize.gif);
}

.maximized .title-bar-buttons button[data-maximize] {
  background-image: url(restore.gif);
}

.window-body,
.dialog-body {
  background: var(--window-bg);
  color: var(--window-fg);
  border: 1px solid var(--border);
  border-top: 0;
}

.dialog-body {
  border-color: var(--window-bg);
}

.window.inactive,
.dialog.inactive {
  background-color: var(--window-frame);
}

.dialog.inactive {
  background-color: var(--title-bar-bg);
}

.window.inactive > .title-bar,
.dialog.inactive > .title-bar,
.title-bar.inactive {
  background: var(--title-bar-bg);
  color: var(--title-bar-fg);
}

.window-body > * + *,
.dialog-body > * + * {
  border: 0;
  border-top: 1px solid var(--border);
}

[role=menu] {
  color: var(--menu-fg);
  background-color: var(--menu-bg);
  border: 1px solid var(--border);
}

[role=menubar] {
  color: var(--menu-fg);
  background-color: var(--menu-bg);
}

.menu > [role=menu] {
  border-top: 0;
}

[role=menu] li {
  padding: 1px 3px;
}

[role=menu] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}

[role=menu] li > ul {
  left: 100%;
  margin: 0;
  top: -1px;
  min-width: 200px;
}

[role=menubar] > li > ul {
  left: 0;
  top: 100%;
  min-width: 200px;
}

[role=menu] li:focus,
[role=menubar] li:focus {
  outline: none;
}

[role=menubar] > li {
  padding: 1px 8px;
}

[role=menu] li:focus-within,
[role=menubar] li:focus-within {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

[role=menu] li[aria-disabled],
[role=menubar] li[aria-disabled] {
  color: var(--disabled);
  border-color: transparent;
}

[role=menu] li[role=separator] {
  border-top: 1px solid var(--border);
  height: 0;
  padding: 0;
  margin: 2px 0;
}

[role=menu] > li[aria-haspopup=true] {
  background-image: url(arrow-right.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

[role=menu] > li[aria-haspopup=true]:focus-within {
  background-image: url(arrow-right-active.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.tabs > menu {
  display: flex;
  flex-direction: row;
  margin: 0 2px;
}

.tabs > menu > button {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 0;
  padding: 2px 10px 2px 10px;
  box-shadow: inset -1px 0 0 var(--button-dark), inset 1px 1px 0 var(--button-light), 
    inset -2px 0 0 var(--button-dark), inset 2px 2px 0 var(--button-light);
}

.tabs > menu > button:focus,
.tabs > menu > button:active {
  padding: 2px 10px 2px 10px;
}

.tabs > menu > button:focus:after {
  left: 8px;
  right: 8px;
}

.tabs > menu > button[aria-selected="true"] {
  margin-right: -2px;
  margin-left: -2px;
  margin-top: -2px;
  margin-bottom: -2px;
  padding: 0px 12px 4px 12px;
  background-color: var(--window-bg);
  box-shadow: none;
  z-index: 1;
}

.tabs > [role="tabpanel"] {
  border: 1px solid var(--border);
}

.list {
  background: var(--window-bg);
  color: var(--window-fg);
  border: 1px solid var(--border);
  overflow: auto;
  cursor: default;
}

.list > [role="option"] {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.list > [role="option"][aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.list > [role="option"]:focus {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.list > [role="option"][aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-grid > .icon {
  flex: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}

.icon-grid > .icon > .icon-label {
  margin-top: 5px;
  text-align: center;
}

.icon-grid > .icon:focus {
  outline: none;
}

.icon-grid > .icon:focus > .icon-label {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.icon-grid > .icon[aria-selected="true"] > .icon-label {
  outline: 1px solid var(--selection-bg);
}

.icon-grid:focus-within > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  outline: none;
}

.icon-grid > .icon[aria-selected="true"]:focus > .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed {
  width: 100%;
  border-spacing: 0;
}

.detailed th {
  text-align: left;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}
.detailed tr {
  outline: none;
}

.detailed tr:focus {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.detailed tr[aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed tr[aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.detailed .icon:focus .icon-label {
  outline: 1px dotted var(--border);
  outline-offset: -1px;
}

.detailed .icon[aria-selected="true"] .icon-label {
  outline: 1px solid var(--selection-bg);
}

.detailed:focus-within .icon[aria-selected="true"] .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  outline: none;
}

.detailed .icon[aria-selected="true"]:focus .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed td {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
}

.detailed td.icon {
  display: flex;
}

.detailed .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 1px;
  margin-left: -4px;
}

.detailed .icon > .icon-label {
  text-align: center;
  padding: 1px 3px;
}

.detailed thead {
  position: sticky;
  top: 0;
}
