:root {
  --focus: #885770;

  --desktop-bg: #DEB394;

  --button-bg: #DEB394;
  --button-fg: #000000;
  --button-active-bg: #BC987D;
  --button-active-fg: #000000;
  --button-dark: #786150;
  --button-light: #F0DED1;

  --input-bg: #DEB394;
  --input-fg: #000000;
  --input-dark: #786150;
  --input-light: #F0DED1;

  --dialog-button-bg: #DEB394;
  --dialog-button-fg: #000000;
  --dialog-button-active-bg: #BC987D;
  --dialog-button-active-fg: #000000;
  --dialog-button-dark: #786150;
  --dialog-button-light: #F0DED1;

  --title-bar-bg: #DEB394;
  --title-bar-fg: #000000;
  --title-bar-dark: #786150;
  --title-bar-light: #F0DED1;

  --title-bar-active-bg: #885770;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #422A36;
  --title-bar-active-light: #C8B2BD;
}
