:root {
  --focus: #FFAB78;

  --desktop-bg: #DEB394;

  --button-bg: #A86B79;
  --button-fg: #FFFFFF;
  --button-active-bg: #8E5A66;
  --button-active-fg: #FFFFFF;
  --button-dark: #54353C;
  --button-light: #D7BCC2;

  --input-bg: #885770;
  --input-fg: #FFFFFF;
  --input-dark: #422A36;
  --input-light: #C8B2BD;

  --dialog-button-bg: #A86B79;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #8E5A66;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #54353C;
  --dialog-button-light: #D7BCC2;

  --title-bar-bg: #A86B79;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #54353C;
  --title-bar-light: #D7BCC2;

  --title-bar-active-bg: #FFAB78;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #8A5D41;
  --title-bar-active-light: #FFDBC5;
}
