:root {
  --focus: #618888;

  --desktop-bg: #B78989;

  --button-bg: #919191;
  --button-fg: #FFFFFF;
  --button-active-bg: #7B7B7B;
  --button-active-fg: #FFFFFF;
  --button-dark: #4A4A4A;
  --button-light: #CECECE;

  --input-bg: #F0ECEB;
  --input-fg: #000000;
  --input-dark: #8C8A89;
  --input-light: #F8F7F6;

  --dialog-button-bg: #B9B9B9;
  --dialog-button-fg: #000000;
  --dialog-button-active-bg: #9D9D9D;
  --dialog-button-active-fg: #000000;
  --dialog-button-dark: #646464;
  --dialog-button-light: #E1E1E1;

  --title-bar-bg: #D1C0AE;
  --title-bar-fg: #000000;
  --title-bar-dark: #73695F;
  --title-bar-light: #EBE4DC;

  --title-bar-active-bg: #618888;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #304343;
  --title-bar-active-light: #B7C9C9;
}
