:root {
  --focus: #82829B;

  --desktop-bg: #907B7B;

  --button-bg: #907B7B;
  --button-fg: #FFFFFF;
  --button-active-bg: #7A6868;
  --button-active-fg: #FFFFFF;
  --button-dark: #483D3D;
  --button-light: #CDC3C3;

  --input-bg: #907B7B;
  --input-fg: #FFFFFF;
  --input-dark: #483D3D;
  --input-light: #CDC3C3;

  --dialog-button-bg: #907B7B;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #7A6868;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #483D3D;
  --dialog-button-light: #CDC3C3;

  --title-bar-bg: #907B7B;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #483D3D;
  --title-bar-light: #CDC3C3;

  --title-bar-active-bg: #82829B;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #41414E;
  --title-bar-active-light: #C7C7D2;
}
