:root {
  --focus: #896D6D;

  --desktop-bg: #696363;

  --button-bg: #696363;
  --button-fg: #FFFFFF;
  --button-active-bg: #595454;
  --button-active-fg: #FFFFFF;
  --button-dark: #322F2F;
  --button-light: #B9B7B7;

  --input-bg: #696363;
  --input-fg: #FFFFFF;
  --input-dark: #322F2F;
  --input-light: #B9B7B7;

  --dialog-button-bg: #696363;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #595454;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #322F2F;
  --dialog-button-light: #B9B7B7;

  --title-bar-bg: #696363;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #322F2F;
  --title-bar-light: #B9B7B7;

  --title-bar-active-bg: #896D6D;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #433535;
  --title-bar-active-light: #C9BCBC;
}
