:root {
  --focus: #FFAAAA;

  --desktop-bg: #5A8B8D;

  --button-bg: #AF9191;
  --button-fg: #FFFFFF;
  --button-active-bg: #947B7B;
  --button-active-fg: #FFFFFF;
  --button-dark: #5B4B4B;
  --button-light: #DBCECE;

  --input-bg: #8C6464;
  --input-fg: #FFFFFF;
  --input-dark: #443030;
  --input-light: #CAB8B8;

  --dialog-button-bg: #A56E6E;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #8C5D5D;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #523737;
  --dialog-button-light: #D6BDBD;

  --title-bar-bg: #968282;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #4C4141;
  --title-bar-light: #D0C7C7;

  --title-bar-active-bg: #FFAAAA;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #8D5E5E;
  --title-bar-active-light: #FFDBDB;
}
