:root {
  --focus: #B24D7A;

  --button-bg: #AEB2C3;
  --button-fg: #000000;
  --button-active-bg: #9397A5;
  --button-active-fg: #000000;
  --button-dark: #5D6069;
  --button-light: #DCDEE5;
  --input-bg: #FFF7E9;
  --input-fg: #000;
  --input-dark: #99948B;
  --input-light: #CCC5BA;

  --select-active-bg: #000000;
  --select-active-fg: #FFFFFF;

  --title-bar-active-bg: #B24D7A;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #58263C;
  --title-bar-active-light: #DDAFC3;
}

