:root {
  --focus: #B89663;

  --desktop-bg: #535570;

  --button-bg: #7A7C7F;
  --button-fg: #FFFFFF;
  --button-active-bg: #67696B;
  --button-active-fg: #FFFFFF;
  --button-dark: #3C3D3F;
  --button-light: #C2C3C5;

  --input-bg: #FFFFE2;
  --input-fg: #000000;
  --input-dark: #999987;
  --input-light: #CCCCB4;

  --dialog-button-bg: #7A7C7F;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #67696B;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #3C3D3F;
  --dialog-button-light: #C2C3C5;

  --title-bar-bg: #7A7C7F;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #3C3D3F;
  --title-bar-light: #C2C3C5;

  --title-bar-active-bg: #B89663;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #5E4D32;
  --title-bar-active-light: #DFD0B9;
}
