:root {
  --focus: #FFFFE2;

  --desktop-bg: #535570;

  --button-bg: #535570;
  --button-fg: #FFFFFF;
  --button-active-bg: #46485F;
  --button-active-fg: #FFFFFF;
  --button-dark: #272834;
  --button-light: #AFB0BC;

  --input-bg: #535570;
  --input-fg: #FFFFFF;
  --input-dark: #272834;
  --input-light: #AFB0BC;

  --dialog-button-bg: #535570;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #46485F;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #272834;
  --dialog-button-light: #AFB0BC;

  --title-bar-bg: #535570;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #272834;
  --title-bar-light: #AFB0BC;

  --title-bar-active-bg: #FFFFE2;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #999987;
  --title-bar-active-light: #CCCCB4;
}
