:root {
  --focus: #EDA870;

  --desktop-bg: #8998AA;

  --button-bg: #C6B2A8;
  --button-fg: #000000;
  --button-active-bg: #A8988F;
  --button-active-fg: #000000;
  --button-dark: #6A605A;
  --button-light: #E7DEDA;
  --input-bg: #686F82;
  --input-fg: #FFFFFF;
  --input-dark: #31353E;
  --input-light: #BABDC6;

  --dialog-button-bg: #4992A7;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #3E7C8D;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #244953;
  --dialog-button-light: #ADCED7;

  --select-active-bg: #000000;
  --select-active-fg: #FFFFFF;

  --title-bar-bg: #999999;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #4E4E4E;
  --title-bar-light: #D1D1D2;

  --title-bar-active-bg: #EDA870;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #7D593B;
  --title-bar-active-light: #F7D9C0;
}

