:root {
  --focus: #E5B793;

  --desktop-bg: #8C8F98;

  --button-bg: #9FAEB5;
  --button-fg: #FFFFFF;
  --button-active-bg: #879399;
  --button-active-fg: #FFFFFF;
  --button-dark: #545C60;
  --button-light: #D5DBDE;

  --input-bg: #FDFDFA;
  --input-fg: #000000;
  --input-dark: #979796;
  --input-light: #CACAC8;

  --dialog-button-bg: #6F98A2;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #5E8189;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #384D52;
  --dialog-button-light: #BED1D5;

  --title-bar-bg: #C2BBA7;
  --title-bar-fg: #000000;
  --title-bar-dark: #69655A;
  --title-bar-light: #E4E1D9;

  --title-bar-active-bg: #E5B793;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #7D6450;
  --title-bar-active-light: #F3E0D0;
}
