:root {
  --focus: #47634F;

  --desktop-bg: #BE826F;

  --button-bg: #BE826F;
  --button-fg: #FFFFFF;
  --button-active-bg: #A16E5E;
  --button-active-fg: #FFFFFF;
  --button-dark: #614238;
  --button-light: #E2C7BF;

  --input-bg: #BE826F;
  --input-fg: #FFFFFF;
  --input-dark: #614238;
  --input-light: #E2C7BF;

  --dialog-button-bg: #BE826F;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #A16E5E;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #614238;
  --dialog-button-light: #E2C7BF;

  --title-bar-bg: #BE826F;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #614238;
  --title-bar-light: #E2C7BF;

  --title-bar-active-bg: #47634F;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #212E24;
  --title-bar-active-light: #A9B6AC;
}
