:root {
  --focus: #949493;

  --desktop-bg: #BDBDBD;

  --button-bg: #BDBDBD;
  --button-fg: #000000;
  --button-active-bg: #A0A0A0;
  --button-active-fg: #000000;
  --button-dark: #676767;
  --button-light: #E2E2E2;

  --input-bg: #BDBDBD;
  --input-fg: #000000;
  --input-dark: #676767;
  --input-light: #E2E2E2;

  --dialog-button-bg: #BDBDBD;
  --dialog-button-fg: #000000;
  --dialog-button-active-bg: #A0A0A0;
  --dialog-button-active-fg: #000000;
  --dialog-button-dark: #676767;
  --dialog-button-light: #E2E2E2;

  --title-bar-bg: #BDBDBD;
  --title-bar-fg: #000000;
  --title-bar-dark: #676767;
  --title-bar-light: #E2E2E2;

  --title-bar-active-bg: #949493;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #4C4C4B;
  --title-bar-active-light: #CFCFCF;
}
