:root {
  --focus: #A2E5C6;

  --desktop-bg: #2D4E76;

  --button-bg: #637E95;
  --button-fg: #FFFFFF;
  --button-active-bg: #546B7E;
  --button-active-fg: #FFFFFF;
  --button-dark: #313E4A;
  --button-light: #B8C4CF;

  --input-bg: #7889A5;
  --input-fg: #FFFFFF;
  --input-dark: #3D4553;
  --input-light: #C2CAD6;

  --dialog-button-bg: #3E708A;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #345F75;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #1D3542;
  --dialog-button-light: #A6BDC9;

  --title-bar-bg: #3F938D;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #1F4845;
  --title-bar-light: #A7CDCB;

  --title-bar-active-bg: #A2E5C6;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #5A7F6E;
  --title-bar-active-light: #D7F4E6;
}
