:root {
  --focus: #7889A5;

  --desktop-bg: #2D4E76;

  --button-bg: #2D4E76;
  --button-fg: #FFFFFF;
  --button-active-bg: #264264;
  --button-active-fg: #FFFFFF;
  --button-dark: #142336;
  --button-light: #9CABBE;

  --input-bg: #2D4E76;
  --input-fg: #FFFFFF;
  --input-dark: #142336;
  --input-light: #9CABBE;

  --dialog-button-bg: #2D4E76;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #264264;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #142336;
  --dialog-button-light: #9CABBE;

  --title-bar-bg: #2D4E76;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #142336;
  --title-bar-light: #9CABBE;

  --title-bar-active-bg: #7889A5;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #3D4553;
  --title-bar-active-light: #C2CAD6;
}
