:root {
  --focus: #00577A;

  --desktop-bg: #0C5A87;

  --button-bg: #0C5A87;
  --button-fg: #FFFFFF;
  --button-active-bg: #0A4C72;
  --button-active-fg: #FFFFFF;
  --button-dark: #05293E;
  --button-light: #8CB1C6;

  --input-bg: #0C5A87;
  --input-fg: #FFFFFF;
  --input-dark: #05293E;
  --input-light: #8CB1C6;

  --dialog-button-bg: #0C5A87;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #0A4C72;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #05293E;
  --dialog-button-light: #8CB1C6;

  --title-bar-bg: #0C5A87;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #05293E;
  --title-bar-light: #8CB1C6;

  --title-bar-active-bg: #00577A;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #002737;
  --title-bar-active-light: #86AFC0;
}
