:root {
  --focus: #CEC2BB;

  --desktop-bg: #9F8881;

  --button-bg: #B39C8F;
  --button-fg: #FFFFFF;
  --button-active-bg: #988479;
  --button-active-fg: #FFFFFF;
  --button-dark: #5E514B;
  --button-light: #DDD3CE;

  --input-bg: #CDB2A6;
  --input-fg: #000000;
  --input-dark: #6F605A;
  --input-light: #E9DED8;

  --dialog-button-bg: #CFB8AA;
  --dialog-button-fg: #000000;
  --dialog-button-active-bg: #AF9C90;
  --dialog-button-active-fg: #000000;
  --dialog-button-dark: #71645D;
  --dialog-button-light: #EAE0DA;

  --title-bar-bg: #256593;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #112F45;
  --title-bar-light: #99B7CC;

  --title-bar-active-bg: #CEC2BB;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #726B67;
  --title-bar-active-light: #EAE5E2;
}
