:root {
  --focus: #CEC2B8;

  --desktop-bg: #877987;

  --button-bg: #877987;
  --button-fg: #FFFFFF;
  --button-active-bg: #726672;
  --button-active-fg: #FFFFFF;
  --button-dark: #433C43;
  --button-light: #C9C2C9;

  --input-bg: #877987;
  --input-fg: #FFFFFF;
  --input-dark: #433C43;
  --input-light: #C9C2C9;

  --dialog-button-bg: #877987;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #726672;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #433C43;
  --dialog-button-light: #C9C2C9;

  --title-bar-bg: #877987;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #433C43;
  --title-bar-light: #C9C2C9;

  --title-bar-active-bg: #CEC2B8;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #716B65;
  --title-bar-active-light: #EAE5E0;
}
