:root {
  --focus: #AACBDB;

  --desktop-bg: #7DB7BB;

  --button-bg: #AFBFBA;
  --button-fg: #000000;
  --button-active-bg: #94A29E;
  --button-active-fg: #000000;
  --button-dark: #5F6865;
  --button-light: #DCE3E1;

  --input-bg: #97B0B2;
  --input-fg: #FFFFFF;
  --input-dark: #505D5E;
  --input-light: #D1DCDD;

  --dialog-button-bg: #C5AFA4;
  --dialog-button-fg: #000000;
  --dialog-button-active-bg: #A7948B;
  --dialog-button-active-fg: #000000;
  --dialog-button-dark: #6A5E58;
  --dialog-button-light: #E6DCD7;

  --title-bar-bg: #A7A8A7;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #585958;
  --title-bar-light: #D8D9D8;

  --title-bar-active-bg: #AACBDB;
  --title-bar-active-fg: #000000;
  --title-bar-active-dark: #5E7079;
  --title-bar-active-light: #DBE9EF;
}
