:root {
  --focus: #CC686F;

  --desktop-bg: #6DA7B4;

  --button-bg: #AFC0C2;
  --button-fg: #000000;
  --button-active-bg: #94A3A4;
  --button-active-fg: #000000;
  --button-dark: #5F686A;
  --button-light: #DCE4E4;

  --input-bg: #E1EBE1;
  --input-fg: #000000;
  --input-dark: #828882;
  --input-light: #F2F6F2;

  --dialog-button-bg: #AFC0C2;
  --dialog-button-fg: #000000;
  --dialog-button-active-bg: #94A3A4;
  --dialog-button-active-fg: #000000;
  --dialog-button-dark: #5F686A;
  --dialog-button-light: #DCE4E4;

  --title-bar-bg: #AFC0C2;
  --title-bar-fg: #000000;
  --title-bar-dark: #5F686A;
  --title-bar-light: #DCE4E4;

  --title-bar-active-bg: #CC686F;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #673438;
  --title-bar-active-light: #E8BBBE;
}
