:root {
  --focus: #FF7D79;

  --desktop-bg: #C09B80;

  --button-bg: #A97561;
  --button-fg: #FFFFFF;
  --button-active-bg: #8F6352;
  --button-active-fg: #FFFFFF;
  --button-dark: #543A30;
  --button-light: #D8C0B7;

  --input-bg: #B18885;
  --input-fg: #FFFFFF;
  --input-dark: #5B4644;
  --input-light: #DCCAC9;

  --dialog-button-bg: #A97561;
  --dialog-button-fg: #FFFFFF;
  --dialog-button-active-bg: #8F6352;
  --dialog-button-active-fg: #FFFFFF;
  --dialog-button-dark: #543A30;
  --dialog-button-light: #D8C0B7;

  --title-bar-bg: #A97561;
  --title-bar-fg: #FFFFFF;
  --title-bar-dark: #543A30;
  --title-bar-light: #D8C0B7;

  --title-bar-active-bg: #FF7D79;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #874240;
  --title-bar-active-light: #FFC6C4;
}
