[role=menubar] {
  padding: 1px;
}

[role=menu] {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #ACA899;
  padding: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

[role=menubar],
.menu > [role=menu] {
  box-shadow: none;
  border: none;
}

[role=menu] li {
  border: 1px solid transparent;
  padding: 1px 3px;
}

[role=menubar] > li {
  border: 1px solid transparent;
  padding: 1px 8px;
}

[role=menu] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}

[role=menu] li > ul {
  left: 100%;
  margin: 0;
  top: -4px;
  margin-left: -3px;
  min-width: 200px;
}

[role=menubar] > li > ul {
  left: 0;
  top: 100%;
  min-width: 200px;
}

[role=menu] li:focus,
[role=menubar] li:focus {
  outline: none;
}

[role=menu] li:hover,
[role=menu] li:focus-within,
[role=menubar] > li:hover,
[role=menubar] > li:focus-within {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

[role=menu] li[aria-disabled=true],
[role=menubar] li[aria-disabled=true] {
  color: var(--dark);
  text-shadow: 1px 1px 0 var(--lightest);
  border-color: transparent;
}

[role=menu] li[aria-disabled=true]:hover,
[role=menu] li[aria-disabled=true]:focus {
  text-shadow: none;
}

[role=menu] li[role=separator] {
  border-top: 1px solid #ACA899;
  margin: 2px;
  height: 0;
  padding: 0;
}

[role=menu] > li[aria-haspopup=true] {
  background-image: url(arrow-right.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

[role=menu] > li[aria-haspopup=true]:focus-within,
[role=menu] > li[aria-haspopup=true]:hover {
  background-image: url(arrow-right-active.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}


