progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;;
  border: 1px solid #686868;
  border-radius: 3px;
  height: 13px;
  padding: 2px 3px;
  box-shadow: inset 1px 1px #BEBEBE, inset 2px 2px #EFEFEF, inset -1px -1px #EFEFEF;
}

progress::-webkit-progress-bar {
  background: #fff;
}

progress::-webkit-progress-value {
  background: linear-gradient(to bottom, #fffa, transparent 50%, #fffa 100%), repeating-linear-gradient(90deg, #2ED331, #2ED331 6px, transparent 6px, transparent 8px);
}

progress::-moz-progress-bar {
  background: linear-gradient(to bottom, #fffa, transparent 50%, #fffa 100%), repeating-linear-gradient(90deg, #2ED331, #2ED331 6px, transparent 6px, transparent 8px);
}

