.horizontal-scrollbar,
.vertical-scrollbar {
  display: flex;
  background: #EEEDE5;

  & > button {
    display: flex;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    min-width: 0;
    padding: 0;
    background: radial-gradient(circle at 0 0, #EEEDE5, #AEC8F7 75%);
    border: 1px solid #fff;
    border-radius: 2px;
    margin-bottom: 1px;
    margin-right: 1px;

    &::after, &:active::after, &:hover::after {
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      margin: 3px 0 0 3px;
      background: #4D6185;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      position: initial;
      box-shadow: none;
      border: 0;
    }

    &:focus {
      outline: none;
    }

    &:not(:disabled):active {
      padding: 0;
    }

    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  & > .scrollbar-track {
    flex-grow: 1;
    position: relative;

    & > .scrollbar-thumb {
      position: absolute;
      border: 1px solid #fff;
      border-radius: 2px;
      box-shadow: 1px 1px #7DA0D4, inset 1px -1px #B4C8F6, inset 0 1px #BDCEF7, inset 0 2px #D1E0FD;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        filter: brightness(1.05) contrast(1.05);
      }

      &:active {
        filter: brightness(0.8) contrast(1.5);
      }
    }
  }
}

.horizontal-scrollbar {
  padding: 1px 0;

  & > button {
    height: 15px;
    box-shadow: 0 1px #A0B5D3, 1px 0 #7C9FD3, inset 1px 1px #B7CAF5, inset -1px -1px #B3C8F5;
  }

  & > button:first-child::after {
    -webkit-mask-image: url(arrow-left.svg);
    -webkit-mask-size: 6px 9px;
    mask-image: url(arrow-left.svg);
    mask-size: 6px 9px;
    margin: 2px 0 0 3px;
  }

  & > button:last-child::after {
    -webkit-mask-image: url(arrow-right.svg);
    -webkit-mask-size: 6px 9px;
    mask-image: url(arrow-right.svg);
    mask-size: 6px 9px;
    margin: 2px 0 0 5px;
  }

  & > .scrollbar-track {
    background: linear-gradient(to bottom, #F3F1EC, #FEFEFB);

    & > .scrollbar-thumb {
      height: 15px;
      background: linear-gradient(to bottom, #C8D6FB, #B9CBF3); 
      top: 0;
      bottom: 0;

      &::after {
        display: block;
        content: '';
        width: 8px;
        height: 7px;
        background: repeating-linear-gradient(to right, #EEF4FE, #EEF4FE 1px, #8CB0F8 1px, #8CB0F8 2px);
      }
    }
  }
}

.vertical-scrollbar {
  flex-direction: column;
  width: 17px;
  padding: 0 1px;

  & > button {
    width: 15px;
    box-shadow: 1px 0 #A0B5D3, 0 1px #7C9FD3, inset 1px 1px #B7CAF5, inset -1px -1px #B3C8F5;
  }

  & > button:first-child::after {
    -webkit-mask-image: url(arrow-up.svg);
    -webkit-mask-size: 9px 6px;
    mask-image: url(arrow-up.svg);
    mask-size: 9px 6px;
    margin: 4px 0 0 2px;
  }

  & > button:last-child::after {
    -webkit-mask-image: url(arrow-down.svg);
    -webkit-mask-size: 9px 6px;
    mask-image: url(arrow-down.svg);
    mask-size: 9px 6px;
    margin: 5px 0 0 2px;
  }

  & > .scrollbar-track {
    background: linear-gradient(to right, #F3F1EC, #FEFEFB);

    & > .scrollbar-thumb {
      width: 15px;
      background: linear-gradient(to right, #C8D6FB, #B9CBF3); 
      left: 0;
      right: 0;

      &::after {
        display: block;
        content: '';
        width: 7px;
        height: 8px;
        background: repeating-linear-gradient(to bottom, #EEF4FE, #EEF4FE 1px, #8CB0F8 1px, #8CB0F8 2px);
      }
    }
  }
}


