:root {
  --preferred-font: 'Tahoma';

  --desktop-bg: #004E98;

  --window-bg: #ECE9D8;
  --window-fg: #000000;

  --button-bg: linear-gradient(180deg, #ffffff 0%, #F0F0EA 100%);
  --button-fg: var(--window-fg);
  --input-bg: #FFFFFF;
  --input-fg: #000000;

  --selection-bg: #316AC5;
  --selection-fg: #FFFFFF;
  --selection-inverse: #CE953A;
}

body {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

button::-moz-focus-inner {
  border: none;
}

.desktop {
  background: var(--desktop-bg);
}

.raised {
  background: linear-gradient(180deg, #FCFCFE 0%, #F4F3EE 100%);
  border: 1px solid #919B9C;
  box-shadow: inset -1px -1px 0 #FCFCFE, 1px 1px 0 #D0CEBF, 2px 2px 0 #E3E0D0;
}

.lowered {
}

.top-panel {
  color: #FFFFFF;
  background: linear-gradient(90deg, #003DDC, transparent 5px),
    linear-gradient(270deg, rgba(0, 14, 125, 0.5), transparent 5px),
    linear-gradient(180deg, #3D95FF 0%, #3D95FF 5%, #0054E3 10%, #0372FF 84%, #026AFE 90%, #0144D0 97%, #0144D0 100%);
  border-bottom: 1px solid #1941A5;
}

.right-panel {
  color: #FFFFFF;
  background: linear-gradient(0, #003DDC, transparent 5px),
    linear-gradient(180deg, rgba(0, 14, 125, 0.5), transparent 5px),
    linear-gradient(90deg, #3D95FF 0%, #3D95FF 5%, #0054E3 10%, #0372FF 84%, #026AFE 90%, #0144D0 97%, #0144D0 100%);
  border-left: 1px solid #2867E1;
}

.bottom-panel {
  color: #FFFFFF;
  background: linear-gradient(90deg, #003DDC, transparent 5px),
    linear-gradient(270deg, rgba(0, 14, 125, 0.5), transparent 5px),
    linear-gradient(180deg, #3D95FF 0%, #3D95FF 5%, #0054E3 10%, #0372FF 84%, #026AFE 90%, #0144D0 97%, #0144D0 100%);
  border-top: 1px solid #3168D5;
}

.left-panel {
  color: #FFFFFF;
  background: linear-gradient(0, #003DDC, transparent 5px),
    linear-gradient(180deg, rgba(0, 14, 125, 0.5), transparent 5px),
    linear-gradient(90deg, #3D95FF 0%, #3D95FF 5%, #0054E3 10%, #0372FF 84%, #026AFE 90%, #0144D0 97%, #0144D0 100%);
  border-right: 1px solid #1941A5;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

a:focus {
  outline: 1px dotted var(--darkest);
}

details > summary,
button,
button:disabled:active {
  background: linear-gradient(180deg, #ffffff 0%, #F0F0EA 100%);
  color: #000;
  border: 1px solid #003C74;
  border-radius: 4px;
  padding: 2px 16px;
  box-shadow: -1px -1px 0 #E2DED4, 1px 1px 0 #FBFAF8, inset -1px -2px 1px #D6D0C5;
  text-align: center;
  line-height: 1;
  position: relative;
  min-width: 90px;
}

button:disabled,
button:disabled:active,
select:not([size]):disabled {
  background: #F5F4EA;
  color: #A1A192;
  border: 1px solid #C9C7BA;
  box-shadow: none;
}

details > summary:active,
details[open] > summary,
button:active {
  background: #E2E1D9;
  box-shadow: inset 1px 2px 1px #D1CCC1, inset 0 -1px 1px #fff;
}

details > summary::after,
button::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

details > summary:focus,
button:focus {
  outline: none;
}

details > summary:focus::after,
button:focus::after {
  display: block;
  border: 2px solid #6F98CFB2;
}

details > summary:hover::after,
button:hover::after {
  display: block;
  border: 2px solid #F5C05DB2;
}

details > summary:focus-visible::after,
button:focus-visible::after {
  outline: 1px dotted #563A2E;
  outline-offset: -2px;
}

details > summary:active::after,
button:active::after,
details > summary:disabled::after,
button:disabled::after {
  display: none;
}

select > option {
  padding: 2px 6px;
}

input[type="text"],
pre,
textarea,
select {
  background-color: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid #7F9DB9;
  padding: 2px 6px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input::selection,
textarea::selection {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

select:not([size]):not(:active):focus,
select[size="1"]:not(:active):focus {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  box-shadow: inset 1px 1px 0 var(--darker), inset -1px -1px 0 var(--light),
    inset 2px 2px 0 var(--input-bg), inset -2px -2px 0 var(--input-bg);
}

input[type=text][readonly],
textarea[readonly] {
  background: var(--window-bg);
}

input[type=text]:disabled,
textarea:disabled,
select:disabled > option,
select:disabled {
  background: var(--window-bg);
  color: var(--dark);
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: radial-gradient(circle at 0 0, #DCDCD7 0, #FFFFFF 75%);
  border: 1px solid #1C5180;
  width: 13px;
  height: 13px;
}

input[type=checkbox]:active,
input[type=checkbox]:disabled,
input[type=radio]:active,
input[type=radio]:disabled {
  background: var(--window-bg);
}

input[type=checkbox]:checked {
  background-image: url(checkmark.gif);
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  color: var(--dark);
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: radial-gradient(circle at 0 0, #DCDCD7 0, #FFFFFF 75%);
  border: 1px solid #1C5180;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

input[type=radio]:checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: radial-gradient(circle at 0 0, #55D551 0, #139210 75%);
  margin-top: 3px;
  margin-left: 3px;
}

input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
  outline: 1px dotted var(--darkest);
  outline-offset: 0;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

label > input[type=radio]:focus,
label > input[type=checkbox]:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: 1px;
}

code {
  font-family: monospace;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--button-bg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
}

progress::-webkit-progress-bar {
  background: var(--button-bg);
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background: var(--selection-bg);
}

fieldset {
  border: 1px solid #D0D0BF;
  border-radius: 3px;
}

legend {
  text-align: left;
  padding: 0 4px;
  color: #0046D5;
  background-color: var(--button-bg);
  display: block;
}

hr {
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
}

.window,
.dialog,
.menu {
  background: linear-gradient(to bottom right, #758CDD, #7587DD 100%);
  border-left: 1px solid #5B68CD;
  border-bottom: 1px solid #4F53BC;
  border-right: 1px solid #4F53BC;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  padding: 2px;
  box-shadow: inset -1px -1px 0 #6D74CD, inset -2px -2px 0 #7587DD, inset 1px 0 0 #7480DC, inset 2px 0 0 #758CDD;
}

.window {
  padding: 3px;
}

.window.maximized,
.dialog.maximized {
  border: none;
  padding: 0;
}

.window.active,
.window:focus-within,
.dialog.active,
.dialog:focus-within,
.menu.active,
.menu:focus-within {
  background: linear-gradient(to bottom right, #166AEE, #002CBC 100%);
  border-left-color: #0734DA;
  border-bottom-color: #00138C;
  border-right-color: #00138C;
  box-shadow: inset -1px -1px 0 #001DA0, inset -2px -2px 0 #003DDC, inset 1px 0 0 #166AEE, inset 2px 0 0 #0855DD;
}

.title-bar {
  background: linear-gradient(90deg, #7783DA, transparent 5px),
    linear-gradient(270deg, rgba(37, 39, 105, 0.5), transparent 5px),
    linear-gradient(180deg, #98B2E8 0%, #9DB9EB 5%, #7996DE 10%, #7D9BE3 84%, #80A5E7 90%, #7A93DF 97%, #7A93DF 100%);
  color: #D8E4F8;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid #688DE0;
  border-left: 1px solid #5B68CD;
  border-right: 1px solid #00138C;
  font-family: 'Trebuchet MS', system-ui;
}

.window.active > .title-bar,
.window:focus-within > .title-bar,
.dialog.active > .title-bar,
.dialog:focus-within > .title-bar,
.title-bar.active {
  background: linear-gradient(90deg, #003DDC, transparent 5px),
    linear-gradient(270deg, rgba(0, 14, 125, 0.5), transparent 5px),
    linear-gradient(180deg, #3D95FF 0%, #3D95FF 5%, #0054E3 10%, #0372FF 84%, #026AFE 90%, #0144D0 97%, #0144D0 100%);
  color: #FFFFFF;
  border-top-color: #0058EB;
  border-left-color: #001ABC;
}

.window > .title-bar {
  margin: -3px -4px 0 -4px;
}

.dialog > .title-bar,
.menu > .title-bar {
  margin: -2px -3px 0 -3px;
}

.title-bar-text {
  text-align: left;
  font-weight: bold;
  padding: 7px 6px 4px;
  flex-grow: 1;
  cursor: default;
  font-size: 14px;
}

.window.active > .title-bar .title-bar-text,
.window:focus-within > .title-bar .title-bar-text,
.dialog.active > .title-bar .title-bar-text,
.dialog:focus-within > .title-bar .title-bar-text,
.title-bar.active .title-bar-text {
  text-shadow: 1px 1px 0 #0A1883;
}

.title-bar-buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 5px 5px 3px 5px;
  align-items: center;
}

.title-bar-buttons button {
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  min-width: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border: 1px solid #fff;
  box-shadow: none;
  margin-left: 2px;
  background: linear-gradient(135deg, #BFD1FC 0%, transparent 20%),
    linear-gradient(90deg, #5E8BF7 0%, transparent 40%),
    linear-gradient(180deg, #5E8BF7 0%, transparent 30%),
    linear-gradient(to bottom right, #467EF5, #0760F3);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -2px -2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-bar-buttons button:hover {
  filter: brightness(1.2);
}

.title-bar-buttons button:active {
  outline: none;
  filter: brightness(0.8);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.title-bar-buttons button::after {
  display: none;
  position: initial;
}

.title-bar-buttons button[data-close] {
  background: linear-gradient(135deg, #EFA390 0%, transparent 20%),
    linear-gradient(90deg, #E98168 0%, transparent 40%),
    linear-gradient(180deg, #E98168 0%, transparent 30%),
    linear-gradient(to bottom right, #E66A4D, #E03802);
}


.title-bar-buttons button[data-close]::after,
.title-bar-buttons button[data-minimize]::after,
.title-bar-buttons button[data-maximize]::after,
.maximized .title-bar-buttons button[data-maximize]::after {
  display: block;
  content: '';
  width: 11px;
  height: 11px;
  border: 0;
  outline: none;
  margin: auto;
}

.title-bar-buttons button[data-close]::after {
  background-image: url(close.gif);
}

.title-bar-buttons button[data-minimize]::after {
  background-image: url(minimize.gif);
}

.title-bar-buttons button[data-maximize]::after {
  background-image: url(maximize.gif);
}

.maximized .title-bar-buttons button[data-maximize]::after {
  background-image: url(restore.gif);
}

.window-body,
.dialog-body {
  background: var(--window-bg);
  color: var(--window-fg);
}

.window-body > [role=menubar],
.dialog-body > [role=menubar] {
}

[role=menubar] {
  padding: 1px;
}

[role=menu] {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #ACA899;
  padding: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

[role=menubar],
.menu > [role=menu] {
  box-shadow: none;
  border: none;
}

[role=menu] li {
  border: 1px solid transparent;
  padding: 1px 3px;
}

[role=menubar] > li {
  border: 1px solid transparent;
  padding: 1px 8px;
}

[role=menu] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}

[role=menu] li > ul {
  left: 100%;
  margin: 0;
  top: -4px;
  margin-left: -3px;
  min-width: 200px;
}

[role=menubar] > li > ul {
  left: 0;
  top: 100%;
  min-width: 200px;
}

[role=menu] li:focus,
[role=menubar] li:focus {
  outline: none;
}

[role=menu] li:hover,
[role=menu] li:focus-within,
[role=menubar] > li:hover,
[role=menubar] > li:focus-within {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

[role=menu] li[aria-disabled=true],
[role=menubar] li[aria-disabled=true] {
  color: var(--dark);
  text-shadow: 1px 1px 0 var(--lightest);
  border-color: transparent;
}

[role=menu] li[aria-disabled=true]:hover,
[role=menu] li[aria-disabled=true]:focus {
  text-shadow: none;
}

[role=menu] li[role=separator] {
  border-top: 1px solid #ACA899;
  margin: 2px;
  height: 0;
  padding: 0;
}

[role=menu] > li[aria-haspopup=true] {
  background-image: url(arrow-right.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

[role=menu] > li[aria-haspopup=true]:focus-within,
[role=menu] > li[aria-haspopup=true]:hover {
  background-image: url(arrow-right-active.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.tabs > menu {
  display: flex;
  flex-direction: row;
  margin: 0 2px;
  gap: 1px;
}

.tabs > menu > button {
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #91A7B4;
  background: linear-gradient(to bottom right, #fff, #EFEEE8);
  box-shadow: inset -1px -1px 0 #ECEBE6;
  min-width: 0;
  padding: 4px 10px 4px 10px;
}

.tabs > menu > button:hover::after {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.tabs > menu > button:hover {
  border-top: 1px solid #E68B2C;
  box-shadow: inset 0 2px 0 #FFC73C;
}

.tabs > menu > button:focus,
.tabs > menu > button:active {
  outline: none;
}

.tabs > menu > button::after {
  display: none;
}

.tabs > menu > button:focus-visible {
  outline: 1px dotted #000;
  outline-offset: -3px;
}

.tabs > menu > button[aria-selected="true"] {
  background: #FCFCFE;
  border-right: 1px solid #919B9C;
  border-top: 1px solid #E68B2C;
  border-left: 1px solid #919B9C;
  box-shadow: inset 0 2px 0 #FFC73C;
  margin-right: -2px;
  margin-left: -2px;
  margin-top: -2px;
  margin-bottom: -1px;
  padding: 2px 12px 6px 12px;
  z-index: 1;
}

.tabs > [role="tabpanel"] {
  background: linear-gradient(180deg, #FCFCFE 0%, #F4F3EE 100%);
  border: 1px solid #919B9C;
  box-shadow: inset -1px -1px 0 #FCFCFE, 1px 1px 0 #D0CEBF, 2px 2px 0 #E3E0D0;
}

.list {
  background: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid #7F9DB9;
  box-shadow: inset 0 0 0 1px #fff;
  padding: 1px;
  overflow: auto;
  cursor: default;
}

.list > [role="option"] {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.list:focus-within > [role="option"][aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.list > [role="option"][aria-selected="true"] {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.list > [role="option"]:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.list > [role="option"][aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-grid > .icon {
  flex: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}

.icon-grid > .icon > .icon-label {
  margin-top: 5px;
  text-align: center;
  padding: 1px 1px;
}

.icon-grid > .icon:focus {
  outline: none;
}

.icon-grid > .icon:focus > .icon-label {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.icon-grid:focus-within > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.icon-grid > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.icon-grid > .icon[aria-selected="true"]:focus > .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed {
  width: 100%;
  border-spacing: 0;
}

.detailed th {
  text-align: left;
  font-weight: normal;
  background-color: #EBEADB;
  color: #000;
  border-bottom: 1px solid #CBC7B8;
  box-shadow: inset 0 -1px 0 #E2DECD, inset 0 -2px 0 #EBEADB;
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
  position: relative;
}

.detailed th::after {
  position: absolute;
  right: 0;
  top: 3px;
  display: block;
  content: '';
  border-left: 1px solid #c7c5b2;
  border-right: 1px solid #fff;
  height: 1em;
}

.detailed tr {
  outline: none;
}

.detailed tr:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.detailed:focus-within tr[aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed tr[aria-selected="true"] {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.detailed tr[aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.detailed .icon:focus .icon-label {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.detailed:focus-within .icon[aria-selected="true"] .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed .icon[aria-selected="true"] .icon-label {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.detailed .icon[aria-selected="true"]:focus .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed td {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
}

.detailed td.icon {
  display: flex;
}

.detailed .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 1px;
  margin-left: -4px;
}

.detailed .icon > .icon-label {
  text-align: center;
  padding: 1px 3px;
}

.detailed thead {
  position: sticky;
  top: 0;
}
