@use '../../util/util';

#{util.$textInputs},
select,
.dropdown {
  background-color: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--darkest), inset -1px -1px 0 var(--light);
  padding: 2px 6px;
  font-family: inherit;
  font-size: inherit;
  outline: none;

  &::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg);
  }

  &[readonly], &.readonly {
    background: var(--window-bg);
  }

  &:disabled, &.disabled {
    background: var(--window-bg);
    color: var(--dark);
    text-shadow: 1px 1px 0 var(--lightest);
  }
}

#{util.$singleSelects}:not(:active):focus {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  box-shadow: inset 1px 1px 0 var(--darkest), inset -1px -1px 0 var(--light),
    inset 2px 2px 0 var(--input-bg), inset -2px -2px 0 var(--input-bg);
}

.dropdown {
  display: inline-grid;
  padding: 0;
  grid-template-areas: 's';

  & > select {
    appearance: none;
    background: transparent;
    border: 0;
    box-shadow: none;
    grid-area: s;
    padding-right: 22px;
  }

  &::after {
    content: '';
    justify-self: end;
    grid-area: s;
    display: block;
    margin: 1px;
    background-color: var(--button-bg);
    color: var(--button-fg);
    background-image: url(arrow-down.gif);
    background-repeat: no-repeat;
    background-position: 3px 8px;
    border: 1px solid var(--darkest);
    border-top: 1px solid var(--light);
    border-left: 1px solid var(--light);
    box-shadow: inset -1px -1px var(--dark), inset 1px 1px var(--lightest), -1px 0 var(--input-bg);
    width: 16px;
    pointer-events: none;
  }

  &:active::after {
    border: 1px solid var(--dark);
    box-shadow: none;
    background-position: 4px 9px;
  }
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--darkest), inset -1px -1px 0 var(--light);
  width: 13px;
  height: 13px;

  &:active, &:disabled, &.active, &.disabled {
    background: var(--window-bg);
  }

  &:checked, &.checked {
    background-image: url(checkmark.gif);
    background-repeat: no-repeat;
    background-position: 2px 2px;
  }

  &:disabled + label, &.disabled + labwel {
    color: var(--dark);
    text-shadow: 1px 1px 0 var(--lightest);
  }

  &:focus, &.focus {
    outline: none;

    & + label {
      outline: 1px dotted var(--darkest);
      outline-offset: 0;
    }
  }
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--darkest), inset -1px -1px 0 var(--light);
  width: 12px;
  height: 12px;
  border-radius: 50%;

  &:active, &:disabled, &.active, &.disabled {
    background: var(--window-bg);
  }

  &:checked::after, &.checked::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--darkest);
    margin-top: 3px;
    margin-left: 3px;
  }

  &:disabled + label, &.disabled + labwel {
    color: var(--dark);
    text-shadow: 1px 1px 0 var(--lightest);
  }

  &:focus, &.focus {
    outline: none;

    & + label {
      outline: 1px dotted var(--darkest);
      outline-offset: 0;
    }
  }
}

label > input[type=radio],
label > input[type=checkbox] {
  &:focus, &.focus {
    outline: 1px dotted var(--darkest);
    outline-offset: 1px;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent; 
  padding: 2px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: 1px dotted var(--darkest);
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  &::-moz-range-track {
    height: 2px;
    background: var(--light);
    border: 1px solid var(--lightest);
    border-top: 1px solid var(--dark);
    border-left: 1px solid var(--dark);
    box-shadow: inset 1px 1px 0 var(--darkest);
    margin: 0 5px;
  }

  &::-moz-range-thumb {
    border-radius: 0;
    background: var(--button-bg);
    border: 1px solid var(--darkest);
    border-top: 1px solid var(--lightest);
    border-left: 1px solid var(--lightest);
    width: 11px;
    height: 21px;
    box-shadow: inset -1px -1px 0 var(--dark);
  }

  &::-moz-range-thumb:active {
    background: var(--lighter);
  }
}
