:root {
  --desktop-bg: #008080;

  --window-bg: #C0C0C0;
  --window-fg: #000000;

  --lightest: #FFFFFF;
  --lighter: #E0E0E0;
  --light: #DFDFDF;
  --medium: var(--window-bg);
  --dark: #808080;
  --darker: #404040;
  --darkest: #000000;

  --button-bg: var(--window-bg);
  --button-fg: var(--window-fg);
  --input-bg: #FFFFFF;
  --input-fg: #000000;

  --title-bar-bg: var(--dark);
  --title-bar-fg: var(--medium);

  --title-bar-active-bg: #000080;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #000080;
  --selection-fg: #FFFFFF;
  --selection-inverse: #FFFF7F;
}

body {
  background-color: var(--window-bg);
  color: var(--window-fg);
  font-family: system-ui;
}

button::-moz-focus-inner {
  border: none;
}

.desktop {
  background: var(--desktop-bg);
}

.raised {
  background: var(--window-bg);
  border: 1px solid var(--lightest);
  border-bottom-color: var(--dark);
  border-right-color: var(--dark);
}

.lowered {
  background: var(--window-bg);
  border: 1px solid var(--dark);
  border-bottom-color: var(--lightest);
  border-right-color: var(--lightest);
}

.top-panel {
  background: var(--window-bg);
  border-bottom: 1px solid var(--darkest);
  box-shadow: inset 0 -1px 0 var(--dark);
}

.right-panel {
  background: var(--window-bg);
  border-left: 1px solid var(--light);
  box-shadow: inset 1px 0 0 var(--lightest);
}

.bottom-panel {
  background: var(--window-bg);
  border-top: 1px solid var(--light);
  box-shadow: inset 0 1px 0 var(--lightest);
}

.left-panel {
  background: var(--window-bg);
  border-right: 1px solid var(--darkest);
  box-shadow: inset -1px 0 0 var(--dark);
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

a:focus {
  outline: 1px dotted var(--darkest);
}

details > summary:focus,
button:focus {
  border: 1px solid var(--darkest);
  outline: 1px dotted var(--darkest);
  box-shadow: inset 1px 1px 0 var(--lightest), inset -1px -1px 0 var(--darkest),
    inset -2px -2px 0 var(--dark);
  outline-offset: -4px;
}

details > summary,
button,
button:disabled:active {
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--darkest);
  border-top: 1px solid var(--lightest);
  border-left: 1px solid var(--lightest);
  box-shadow: inset -1px -1px 0 var(--dark);
  padding: 2px 10px 2px 10px;
  min-width: 75px;
  text-align: center;
  line-height: 1;
}

button:disabled,
button:disabled:active,
select:not([size]):disabled {
  color: var(--dark);
  text-shadow: 1px 1px 0 var(--lightest);
}

details > summary:active,
button:active {
  border: 1px solid var(--darkest);
  box-shadow: inset 1px 1px 0 var(--dark), inset -1px -1px 0 var(--dark);
  padding: 3px 9px 1px 11px;
}

select > option {
  padding: 2px 6px;
}

input[type="text"],
pre,
textarea,
select {
  background-color: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--darker), inset -1px -1px 0 var(--light);
  padding: 2px 6px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input::selection,
textarea::selection {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

select:not([size]):not(:active):focus,
select[size="1"]:not(:active):focus {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
  box-shadow: inset 1px 1px 0 var(--darker), inset -1px -1px 0 var(--light),
    inset 2px 2px 0 var(--input-bg), inset -2px -2px 0 var(--input-bg);
}

input[type=text][readonly],
textarea[readonly] {
  background: var(--window-bg);
}

input[type=text]:disabled,
textarea:disabled,
select:disabled > option,
select:disabled {
  background: var(--window-bg);
  color: var(--dark);
  text-shadow: 1px 1px 0 var(--lightest);
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--darkest), inset -1px -1px 0 var(--light);
  width: 13px;
  height: 13px;
}

input[type=checkbox]:active,
input[type=checkbox]:disabled,
input[type=radio]:active,
input[type=radio]:disabled {
  background: var(--window-bg);
}

input[type=checkbox]:checked {
  background-image: url(checkmark.gif);
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  color: var(--dark);
  text-shadow: 1px 1px 0 var(--lightest);
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--input-bg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--darkest), inset -1px -1px 0 var(--light);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

input[type=radio]:checked::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--darkest);
  margin-top: 3px;
  margin-left: 3px;
}

input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
  outline: 1px dotted var(--darkest);
  outline-offset: 0;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

label > input[type=radio]:focus,
label > input[type=checkbox]:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: 1px;
}

code {
  font-family: monospace;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--button-bg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
}

progress::-webkit-progress-bar {
  background: var(--button-bg);
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background: var(--selection-bg);
}

fieldset {
  border: 1px solid var(--dark);
  border-bottom-color: var(--lightest);
  border-right-color: var(--lightest);
  box-shadow: inset 1px 1px 0 var(--lightest), inset -1px -1px 0 var(--dark);
  position: relative;
}

legend {
  text-align: left;
  padding: 0 4px;
  background-color: var(--button-bg);
  display: block;
}

hr {
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
}

.window,
.dialog,
.menu {
  background: var(--window-bg);
  border: 1px solid var(--light);
  border-bottom: 1px solid var(--darkest);
  border-right: 1px solid var(--darkest);
  box-shadow: inset 1px 1px 0 var(--lightest), inset -1px -1px 0 var(--dark);
  position: relative;
  padding: 3px;
}

.window.maximized,
.dialog.maximized {
  border: none;
  padding: 0;
}

.title-bar {
  background: var(--title-bar-active-bg);
  color: var(--title-bar-active-fg);
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.title-bar-text {
  text-align: left;
  font-weight: bold;
  padding: 1px 4px;
  flex-grow: 1;
  cursor: default
}

.title-bar-buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 2px;
  align-items: center;
}

.title-bar-buttons button {
  flex-shrink: 0;
  width: 20px;
  height: 18px;
  min-width: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.title-bar-buttons button:active {
  outline: none;
  background-position: 4px 4px;
  box-shadow: inset -1px -1px 0 var(--light), inset 1px 1px 0 var(--dark);
  border: 1px solid var(--lightest);
  border-top: 1px solid var(--darkest);
  border-left: 1px solid var(--darkest);
}

.title-bar-buttons button:not(:active):focus {
  border: 1px solid var(--darkest);
  border-top: 1px solid var(--lightest);
  border-left: 1px solid var(--lightest);
  box-shadow: inset -1px -1px 0 var(--dark);
}

.title-bar-buttons button[data-close] {
  background-image: url(close2.gif);
  margin-left: 2px;
}

.title-bar-buttons button[data-minimize] {
  background-image: url(minimize2.gif);
}

.title-bar-buttons button[data-maximize] {
  background-image: url(maximize2.gif);
}

.maximized .title-bar-buttons button[data-maximize] {
  background-image: url(restore2.gif);
}

.window-body,
.dialog-body {
  background: var(--window-bg);
  color: var(--window-fg);
  margin-top: 4px;
}

.window.inactive > .title-bar,
.dialog.inactive > .title-bar,
.title-bar.inactive {
  background: var(--title-bar-bg);
  color: var(--title-bar-fg);
}

.window-body > [role=menubar],
.dialog-body > [role=menubar] {
  margin-top: -3px;
  margin-bottom: 1px;
}

[role=menu],
[role=menubar] {
  color: var(--window-fg);
  background-color: var(--window-bg);
  border: 1px solid var(--light);
  border-right-color: var(--darkest);
  border-bottom-color: var(--darkest);
  box-shadow: inset 1px 1px 0 var(--lightest), inset -1px -1px 0 var(--dark);
  padding: 2px;
}

[role=menubar],
.menu > [role=menu] {
  box-shadow: none;
  border: none;
  padding: 0;
}

[role=menu] li {
  border: 1px solid transparent;
  padding: 1px 3px;
}

[role=menubar] > li {
  border: 1px solid transparent;
  padding: 1px 8px;
}

[role=menu] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}

[role=menu] li > ul {
  left: 100%;
  margin: 0;
  top: -4px;
  margin-left: -1px;
  min-width: 200px;
}

[role=menubar] > li > ul {
  left: 0;
  top: 100%;
  margin-left: -1px;
  margin-top: 1px;
  min-width: 200px;
}

[role=menu] li:focus,
[role=menubar] li:focus {
  outline: none;
}

[role=menu] li:hover,
[role=menu] li:focus-within {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

[role=menubar] > li:hover {
  background: var(--window-bg);
  color: var(--window-fg);
  border: 1px solid var(--lightest);
  border-right-color: var(--dark);
  border-bottom-color: var(--dark);
}

[role=menubar] > li:focus-within {
  background: var(--window-bg);
  color: var(--window-fg);
  border: 1px solid var(--dark);
  border-right-color: var(--lightest);
  border-bottom-color: var(--lightest);
  padding: 2px 7px 0 9px;
}

[role=menu] li[aria-disabled=true],
[role=menubar] li[aria-disabled=true] {
  color: var(--dark);
  text-shadow: 1px 1px 0 var(--lightest);
  border-color: transparent;
}

[role=menu] li[aria-disabled=true]:hover,
[role=menu] li[aria-disabled=true]:focus {
  text-shadow: none;
}

[role=menu] li[role=separator] {
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  height: 0;
  padding: 0;
}

[role=menu] > li[aria-haspopup=true] {
  background-image: url(arrow-right.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

[role=menu] > li[aria-haspopup=true]:focus-within,
[role=menu] > li[aria-haspopup=true]:hover {
  background-image: url(arrow-right-active.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.tabs > menu {
  display: flex;
  flex-direction: row;
  margin: 0 2px;
}

.tabs > menu > button {
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: inset 1px 1px 0 var(--light), inset -1px 0 0 var(--dark);
  min-width: 0;
  padding: 2px 10px 2px 10px;
}

.tabs > menu > button:focus,
.tabs > menu > button:active {
  border-right: 1px solid var(--darkest);
  border-top: 1px solid var(--lightest);
  border-left: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--light), inset -1px 0 0 var(--dark);
  padding: 2px 10px 2px 10px;
}

.tabs > menu > button[aria-selected="true"] {
  margin-right: -2px;
  margin-left: -2px;
  margin-top: -2px;
  margin-bottom: -2px;
  padding: 0px 12px 4px 12px;
  z-index: 1;
}

.tabs > [role="tabpanel"] {
  border-top: 1px solid var(--lightest);
  border-left: 1px solid var(--lightest);
  border-bottom: 1px solid var(--darkest);
  border-right: 1px solid var(--darkest);
  box-shadow: inset 1px 1px 0 var(--light), inset -1px -1px 0 var(--dark);
}

.list {
  background: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--dark);
  border-bottom: 1px solid var(--lightest);
  border-right: 1px solid var(--lightest);
  box-shadow: inset 1px 1px 0 var(--darker), inset -1px -1px 0 var(--light);
  padding: 1px;
  overflow: auto;
  cursor: default;
}

.list > [role="option"] {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.list:focus-within > [role="option"][aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.list > [role="option"][aria-selected="true"] {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.list > [role="option"]:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.list > [role="option"][aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-grid > .icon {
  flex: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}

.icon-grid > .icon > .icon-label {
  margin-top: 5px;
  text-align: center;
  padding: 1px 1px;
}

.icon-grid > .icon:focus {
  outline: none;
}

.icon-grid > .icon:focus > .icon-label {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.icon-grid:focus-within > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.icon-grid > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.icon-grid > .icon[aria-selected="true"]:focus > .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed {
  width: 100%;
  border-spacing: 0;
}

.detailed th {
  text-align: left;
  font-weight: normal;
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--darkest);
  border-top: 1px solid var(--lightest);
  border-left: 1px solid var(--lightest);
  box-shadow: inset -1px -1px 0 var(--dark);
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed tr {
  outline: none;
}

.detailed tr:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.detailed:focus-within tr[aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed tr[aria-selected="true"] {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.detailed tr[aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.detailed .icon:focus .icon-label {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.detailed:focus-within .icon[aria-selected="true"] .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed .icon[aria-selected="true"] .icon-label {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.detailed .icon[aria-selected="true"]:focus .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed td {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
}

.detailed td.icon {
  display: flex;
}

.detailed .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 1px;
  margin-left: -4px;
}

.detailed .icon > .icon-label {
  text-align: center;
  padding: 1px 3px;
}

.detailed thead {
  position: sticky;
  top: 0;
}
