:root {
  --desktop-bg: #387C78;

  --workspace-bg: #C0C0C0;

  --window-bg: #FFFFFF;
  --window-fg: #000000;

  --window-frame: #C0C0C0;
  --window-frame-active: #C0C0C0;

  --menu-bg: #FFFFFF;
  --menu-fg: #000000;

  --title-bar-bg: #C0C0C0;
  --title-bar-fg: #000000;

  --title-bar-active-bg: #008080;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #008080;
  --selection-fg: #000000;
  --selection-inverse: #FF7F7F;
}
