:root {
  --desktop-bg: #C0C0C0;

  --workspace-bg: #F8FC80;

  --window-bg: #FFFFFF;
  --window-fg: #000000;

  --window-frame: #FFFFFF;
  --window-frame-active: #800000;

  --menu-bg: #FFFFFF;
  --menu-fg: #000000;

  --title-bar-bg: #FFFFFF;
  --title-bar-fg: #000000;

  --title-bar-active-bg: #000080;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #000080;
  --selection-fg: #FFFFFF;
  --selection-inverse: #FFFF7F;
}
