:root {
  --window-bg: #C0C0C0;
  --window-fg: #000000;

  --lightest: #FFFFFF;
  --lighter: #E0E0E0;
  --light: #DFDFDF;
  --medium: #C0C0C0;
  --dark: #808080;
  --darker: #404040;
  --darkest: #000000;

  --button-bg: var(--window-bg);
  --button-fg: var(--window-fg);
  --input-bg: #FFFFFF;
  --input-fg: #000000;
  --input-dark: #E0E0E0;
  --input-light: #F7F7F7;

  --select-active-bg: #000000;
  --select-active-fg: #FFFFFF;

  --title-bar-bg: var(--dark);
  --title-bar-fg: var(--medium);

  --title-bar-active-bg: #000080;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #000080;
  --selection-fg: #FFFFFF;
}
