:root {
  --desktop-bg: #3A6EA5;

  --window-bg: #D4D0C8;
  --window-fg: #000000;

  --lightest: #FFFFFF;
  --lighter: #E0E0E0;
  --light: #DFDFDF;
  --medium: #C0C0C0;
  --dark: #808080;
  --darker: #404040;
  --darkest: #000000;

  --input-bg: #FFFFFF;
  --input-fg: #000000;

  --title-bar-bg: linear-gradient(to right, #808080, #C0C0C0);
  --title-bar-fg: var(--medium);

  --title-bar-active-bg: linear-gradient(to right, #000080, #A6CAF0);
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #000080;
  --selection-fg: #FFFFFF;
  --selection-inverse: #FFFF7F;
}

