:root {
  --preferred-font: 'Tahoma';

  --desktop-bg: #3A6EA5;

  --window-bg: #D4D0C8;
  --window-fg: #000000;

  --lightest: #FFFFFF;
  --lighter: #E0E0E0;
  --light: var(--window-bg);
  --medium: #C0C0C0;
  --dark: #808080;
  --darker: #404040;
  --darkest: #000000;

  --input-bg: #FFFFFF;
  --input-fg: #000000;

  --title-bar-bg: linear-gradient(to right, #808080, #C0C0C0);
  --title-bar-fg: var(--medium);

  --title-bar-active-bg: linear-gradient(to right, #0A246A, #A6CAF0);
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #0A246A;
  --selection-fg: #FFFFFF;
  --selection-inverse: #F5DB95;
}

.menu > .title-bar {
  background: linear-gradient(to bottom, #0000ff, #000000 225px, #000000);
  color: #ffffff;
}
