:root {
  --desktop-bg: #400040;

  --window-bg: #90B0A8;
  --window-fg: #000000;

  --lightest: #C8D8D8;
  --lighter: var(--lightest);
  --light: var(--window-bg);
  --medium: var(--window-bg);
  --dark: #588078;
  --darker: #000000;
  --darkest: #000000;

  --input-bg: #FFFFFF;
  --input-fg: #000000;

  --title-bar-bg: #90B0A8;
  --title-bar-fg: #588078;

  --title-bar-active-bg: #588078;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #387470;
  --selection-fg: #FFFFFF;
  --selection-inverse: #C78B8F;
}
