@import 'lilac.css';

:root {
  --preferred-font: 'Tahoma';

  --title-bar-bg: linear-gradient(to right, #808080, #B8B4D0);
  --title-bar-active-bg: linear-gradient(to right, #5A4EB1, #B68FCB);

  --selection-bg: #5A4EB1;
  --selection-inverse: #A5B14E;
}
