@import 'pumpkin.css';

:root {
  --preferred-font: 'Tahoma';

  --title-bar-bg: linear-gradient(to right, #A0A0A3, #D0CC90);
  --title-bar-active-bg: linear-gradient(to right, #D7A52F, #E0CC88);

  --selection-bg: #800080;
  --selection-inverse: #7FFF7F;
}
