:root {
  --desktop-bg: #000000;

  --window-bg: #8098B0;
  --window-fg: #000000;

  --lightest: #C0CCD8;
  --lighter: var(--lightest);
  --light: var(--window-bg);
  --medium: var(--window-bg);
  --dark: #4E657C;
  --darker: #000000;
  --darkest: #000000;

  --input-bg: #FFFFFF;
  --input-fg: #000000;

  --title-bar-bg: #808080;
  --title-bar-fg: #C1CCD9;

  --title-bar-active-bg: #4F647E;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #506478;
  --selection-fg: #FFFFFF;
  --selection-inverse: #AF9B87;
}
