:root {
  --desktop-bg: #000042;

  --window-bg: #C0C0C0;
  --window-fg: #000000;

  --lightest: #FFFFFF;
  --lighter: var(--lightest);
  --light: var(--window-bg);
  --medium: var(--window-bg);
  --dark: #808080;
  --darker: #000000;
  --darkest: #000000;

  --input-bg: #FFFFFF;
  --input-fg: #000000;

  --title-bar-bg: #808080;
  --title-bar-fg: #C0C0C0;

  --title-bar-active-bg: #800000;
  --title-bar-active-fg: #FFFFFF;

  --selection-bg: #800000;
  --selection-fg: #FFFFFF;
  --selection-inverse: #7FFFFF;
}
