@use '../../util/util';

#{util.$buttons},
#{util.$singleSelects} {
  background-color: #DDDDDD;
  color: #000000;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 #DDDDDD, inset 2px 2px 0 #fff, inset -1px -1px 1px #555;
  padding: 2px 10px;
  min-width: 58px;
  text-align: center;
  font-weight: bold;
  cursor: default;
  user-select: none;

  &:disabled, &.disabled {
    color: #777;
    border-color: #888;
    box-shadow: none;
  }

  &:not(:disabled, .disabled):active, &.active {
    background-color: #666666;
    color: #fff;
    box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #999;
  }

  &:focus-visible {
    outline: 2px solid var(--primary-3);
    border-radius: 1px;
  }
}

#{util.$buttons} {
  &.primary {
    position: relative;
    z-index: 1;
    box-shadow: inset 1px 1px 0 #DDDDDD, inset 2px 2px 0 #fff, inset -1px -1px 1px #555, -1px -1px 2px #00000057, 2px 2px 2px #ffffff8a;

    &::before {
      content: " ";
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      left: -4px;
      top: -4px;
      position: absolute;
      border-radius: 6px;
      box-sizing: border-box;
      z-index: -1;
      box-shadow: 0px 0px 0px 1px black, inset 0px 0px 2px white, inset -2px -2px 3px #545454;  }
    }
}
