@use '../../util/util';

#{util.$textInputs},
#{util.$multiSelects} {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: -1px -1px #888;
  margin: 2px;
  padding: 2px;

  &::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg);
  }

  &[readonly], .readonly {
  }

  &:disabled, &.disabled {
    color: #808080;
    border-color: #555;
    box-shadow: 0 0 0 1px #ddd;
  }

  &:focus, &.focus {
    outline: 2px solid var(--primary-3);
    border-radius: 1px;
  }
}

#{util.$multiSelects} {
  padding: 0;
  & > option {
    padding: 2px 6px;

    &:checked {
      background-color: var(--selection-bg);
      color: var(--selection-fg);
    }
  }

  &:focus {
    box-shadow: none;
    outline: 2px solid var(--primary-3);
    border-radius: 1px;

    & > option:checked {
      outline: none;
    }
  }
}

.dropdown {
  display: inline-grid;
  grid-template-areas: 's';

  & > select {
    appearance: none;
    grid-area: s;
    padding-right: 27px;
    text-align: left;
    box-shadow: inset 1px 1px #fff, inset -1px -1px #aaa;

    &:disabled + .dropdown-button {
      color: #888;
      box-shadow: -1px 0 #aaa;
    }

    &:not(:disabled):active {
      & + .dropdown-button {
        color: #fff;
        box-shadow: inset 1px 1px #444, inset 2px 2px #555, inset -1px -1px #888, inset -2px -2px #777, -1px 0 #222;
      }
    }
  }

  & > .dropdown-button {
    justify-self: end;
    grid-area: s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 20px;
    pointer-events: none;
    box-shadow: inset 1px 1px #ddd, inset 2px 2px #fff, inset -1px -1px #777, inset -2px -2px #aaa, -1px 0 #aaa;
    margin: 1px;

    &::after {
      content: '';
      display: block;
      width: 7px;
      height: 10px;
      -webkit-mask-image: url(dropdown.svg);
      -webkit-mask-repeat: no-repeat;
      mask-image: url(dropdown.svg);
      mask-repeat: no-repeat;
      background: currentColor;
    }
  }
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ddd;
  border: 1px solid #000;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #888;
  width: 12px;
  height: 12px;
  border-radius: 0;


  &:not(:disabled):active {
    background: #777;
    box-shadow: inset 1px 1px 0 #555, inset -1px -1px 0 #999;
  }

  &:checked::after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 1.5px solid #000;
    border-left: 1.5px solid #000;
    margin-left: 1.5px;
    transform: rotate(-45deg);
    box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    border-color: #888;
    box-shadow: none;

    &::after {
      box-shadow: none;
      border-color: #888;
    }
  }
}

input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  color: #777;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(to bottom right, #fff, #888);
  box-shadow: inset 1px 1px 0 #ddd, inset -1px -1px 0 #888;
  border: 1px solid #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  &:checked {
    background: linear-gradient(to bottom right, #555, #fff);
    box-shadow: inset 1px 1px 0 #555;

    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #000;
      margin-top: 2px;
      margin-left: 2px;
    }
  }

  &:not(:disabled):active {
    background: linear-gradient(to bottom right, #444, #bbb);
    box-shadow: inset 1px 1px 0 #444;
  }

  &:disabled {
    background: #ddd;
    border-color: #888;
    box-shadow: none;

    &::after {
      background-color: #888;
    }
  }
}

input[type=radio]:focus-visible + label,
input[type=checkbox]:focus-visible + label {
  border-radius: 1px;
  outline-offset: 0;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(var(--spacing) - 1px);
    right: 0;
    bottom: 0;
    outline: 2px solid var(--primary-3);
    border-radius: 1px;
  }
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

label > input[type=radio]:focus-visible,
label > input[type=checkbox]:focus-visible {
  outline: 2px solid var(--primary-3);
  border-radius: 1px;
}

@mixin range-track {
  height: 3px;
  background: #AAA;
  border: 1px solid #222;
  border-radius: 2px;
  box-shadow: -1px -1px #AAA, 1px 1px #FFF;
  margin: 0 5px;
}

@mixin range-thumb {
  border-radius: 0;
  box-sizing: border-box;
  background-color: var(--primary-4);
  background-image:
    repeating-linear-gradient(90deg, var(--primary-6), var(--primary-6) 1px, transparent 1px, transparent 2px),
    repeating-linear-gradient(90deg, var(--primary-5), var(--primary-5) 1px, transparent 1px, transparent 2px),
    repeating-linear-gradient(90deg, transparent, transparent 1px, var(--primary-2) 1px, var(--primary-2) 2px);
  background-position-x: 3px;
  background-position-y: 3px, 3px, 4px;
  background-size: 6px 1px, 6px 4px, 6px 4px;
  background-repeat: no-repeat;
  border: 1px solid #000;
  width: 14px;
  height: 13px;
  border-radius: 2px;
  box-shadow: inset 1px 1px var(--primary-5), inset -1px -1px var(--primary-3);

  &:active {
    background-color: var(--primary-3);
    background-image:
      repeating-linear-gradient(90deg, var(--primary-5), var(--primary-5) 1px, transparent 1px, transparent 2px),
      repeating-linear-gradient(90deg, var(--primary-4), var(--primary-4) 1px, transparent 1px, transparent 2px),
      repeating-linear-gradient(90deg, transparent, transparent 1px, var(--primary-1) 1px, var(--primary-1) 2px);
    box-shadow: inset 1px 1px var(--primary-4), inset -1px -1px var(--primary-2);
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent; 
  padding: 2px;

  &:focus-visible {
    outline: 2px solid var(--primary-3);
    border-radius: 1px;
  }

  &::-moz-range-track {
    @include range-track;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-webkit-slider-runnable-track {
    @include range-track;
    margin: 10px 5px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -5px;
    @include range-thumb;
  }
}
