.list {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: -1px -1px #888, 1px 1px #fff;
  overflow: auto;
  cursor: default;

  & > [role="option"] {
    padding: 2px 6px 2px 6px;
    white-space: nowrap;

    &[aria-selected="true"] {
      background-color: var(--selection-bg);
      color: var(--selection-fg);
    }

    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    box-shadow: none;
    outline: 2px solid var(--primary-3);
    border-radius: 1px;
  }
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;

  & > .icon {
    flex: 0 0 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;


    & > .icon-label {
      margin-top: 5px;
      text-align: center;
      padding: 1px 1px;
    }

    &:focus {
      outline: none;
    }

    &[aria-selected="true"] {
      & > img {
        filter: brightness(0.5);
      }

      & > .icon-label {
        background-color: #000;
        color: #fff;
      }
    }
  }

  &:focus-within > .icon[aria-selected="true"] > .icon-label {
    background-color: #000;
    color: #fff;
  }
}

.detailed {
  width: 100%;
  border-spacing: 0;


  th {
    text-align: left;
    font-weight: normal;
    background-color: #ccc;
    color: #000;
    border: 1px solid #333;
    border-top-color: #666;
    border-left-color: #666;
    box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
    padding: 2px 6px 2px 6px;
    white-space: nowrap;
  }

  tr {
    outline: none;
    background: #eee;

    &:focus {
      outline: none;
    }

    &[aria-selected="true"] {
      background-color: var(--selection-bg);
      color: var(--selection-fg);
    }
  }

  .icon[aria-selected="true"] .icon-label {
    background-color: #000;
    color: #fff;
  }

  td {
    padding: 2px 6px 2px 6px;
    white-space: nowrap;
    border-bottom: 1px solid #fff;

    &.icon {
      display: flex;
    }
  }

  .icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    outline: none;

    & > img {
      width: 16px;
      height: 16px;
      margin-right: 1px;
      margin-left: -4px;
    }

    & > .icon-label {
      text-align: center;
      padding: 1px 3px;
    }

    &:focus .icon-label {
      outline: none;
    }

    &[aria-selected="true"]{
      & > img {
        filter: brightness(0.5);
      }

      & > .icon-label {
        background-color: #000;
        color: #fff;
      }
    }
  }

  thead {
    position: sticky;
    top: 0;
  }
}


.list ul[role="tree"] {
  position: relative;
  margin-bottom: 1px;

  & > li {
    padding-left: 20px;
  }

  li {
    list-style-type: none;
    background: #eee;

    & > details {
      margin: 0;
      display: block;

      & > summary {
        margin: 0;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          display: block;
          background-color: var(--primary-4);
          background-image: url(expandcollapse.svg);
          -webkit-mask-image: url(expandcollapse-mask.svg);
          mask-image: url(expandcollapse-mask.svg);
          width: 12px;
          height: 12px;
          position: absolute;
          left: 4px;
        }

        &:active::before {
          background-color: var(--primary-2);
        }
      }

      &[open] > summary::before {
        background-position: -12px;
        -webkit-mask-position: -12px;
        mask-position: -12px;
      }
    }
  }

  li::after, li ul::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
  }

  .icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    outline: none;

    & > img {
      width: 16px;
      height: 16px;
      margin-right: 1px;
    }

    & > .icon-label {
      text-align: center;
      padding: 1px 3px;
    }

    &:focus .icon-label {
      outline: none;
    }

    &[aria-selected="true"] {
      & > img {
        filter: brightness(0.5);
      }

      & > .icon-label {
        background-color: #000;
        color: #fff;
      }
    }
  }

  [role=treeitem]:not(.icon) {
    display: inline-flex;
    outline: none;

    &[aria-selected="true"] {
      background-color: #000;
      color: #fff;
    }
  }

  ul {
    margin-left: 8px;
    padding-left: 10px;

    li {
      margin-left: -15px;
      padding-left: 16px;
    }
  }
}
