progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #BBBBBB;
  border: 1px solid #000;
  box-shadow: 1px 1px #fff, -1px -1px #AAAAAA;
  height: 12px;
}

progress::-webkit-progress-bar {
  background: #BBBBBB;
  box-shadow: inset 1px 1px #888888, inset -1px -1px #DDDDDD;
}

progress::-webkit-progress-value {
  background: linear-gradient(to bottom, var(--primary-2), var(--primary-3), var(--primary-4), var(--primary-5), var(--primary-6), var(--primary-5), var(--primary-4), var(--primary-3), var(--primary-2), var(--primary-1));
  border-right: 1px solid #000;
  box-shadow: inset 1px 0 var(--primary-3), inset 2px 0 #fff3, inset -1px var(--primary-1), inset -2px var(--primary-2), 1px 0 #555555, 2px 0 #888888;
}

progress::-moz-progress-bar {
  background: linear-gradient(to bottom, var(--primary-2), var(--primary-3), var(--primary-4), var(--primary-5), var(--primary-6), var(--primary-5), var(--primary-4), var(--primary-3), var(--primary-2), var(--primary-1));
  border-right: 1px solid #000;
  box-shadow: inset 1px 0 var(--primary-3), inset 2px 0 #fff3, inset -1px var(--primary-1), inset -2px var(--primary-2), 1px 0 #555555, 2px 0 #888888;
}
