progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #BBBBBB;
  border: 1px solid #000;
  box-shadow: 1px 1px #fff, -1px -1px #AAAAAA;
  height: 12px;
}

progress::-webkit-progress-bar {
  background: #BBBBBB;
  box-shadow: inset 1px 1px #888888, inset -1px -1px #DDDDDD;
}

progress::-webkit-progress-value {
  background: linear-gradient(to bottom, #339, #eee 50%, #005);
  border-right: 1px solid #000;
  box-shadow: inset 1px 0 #6666CC, inset 2px 0 #fff3, inset -1px #000055, inset -2px #333399, 1px 0 #555555, 2px 0 #888888;
}

progress::-moz-progress-bar {
  background: linear-gradient(to bottom, #339, #eee 50%, #005);
  border-right: 1px solid #000;
  box-shadow: inset 1px 0 #6666CC, inset 2px 0 #fff3, inset -1px #000055, inset -2px #333399, 1px 0 #555555, 2px 0 #888888;
}
