:root {
  --preferred-font: Charcoal;
  --desktop-bg: #9999CC;
  --window-bg: #DDDDDD;
  --window-fg: #000000;
  --window-frame-bg: #CCCCCC;
}

body {
  background-color: #000;
  color: var(--window-fg);
}

*, *::before, *::after {
  box-sizing: border-box;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

a:focus {
  outline: 1px dotted var(--darkest);
}

code {
  font-family: monospace;
}

.desktop {
  background: var(--desktop-bg);
}

.top-panel, .right-panel, .buttom-panel, .left-panel {
  background: var(--window-bg);
}

.top-panel {
  border-bottom: 1px solid #000000;
  box-shadow: inset 1px 0 0 #fff, inset 0 1px 0 #fff, inset -1px 0 0 #999, inset 0 -1px 0 #999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

fieldset {
  border: 1px solid #888;
  box-shadow: inset 1px 1px 0 #fff, 1px 1px 0 #fff;
  position: relative;
}

legend {
  text-align: left;
  padding: 0 4px 0.65em;
  background-color: #ddd;
  display: block;
}

.horizontal-scrollbar,
.vertical-scrollbar {
  display: grid;
}
.horizontal-scrollbar > button,
.vertical-scrollbar > button {
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  min-width: 0;
  padding: 0;
  background: #ddd;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #bbb;
  border-radius: 0;
}
.horizontal-scrollbar > button::after,
.vertical-scrollbar > button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.horizontal-scrollbar > button:not(:disabled):active,
.vertical-scrollbar > button:not(:disabled):active {
  padding: 0;
  background: #777;
  box-shadow: inset 1px 1px #555, inset -1px -1px #999;
  box-shadow: none;
  outline: none;
}
.horizontal-scrollbar > .scrollbar-track,
.vertical-scrollbar > .scrollbar-track {
  flex-grow: 1;
  background: #aaa;
  position: relative;
  box-shadow: inset 1px 1px #777, inset 2px 2px #888, inset -1px -1px #ccc, inset -2px -2px #bbb;
  overflow: hidden;
  border: 1px solid #000;
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb,
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb {
  position: absolute;
  background: #99f;
  box-shadow: inset 1px 1px #ccf, inset -1px -1px #66c, 1px 1px #777, 2px 2px #888;
  display: flex;
  align-items: center;
  justify-content: center;
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb:active,
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb:active {
  background: #66c;
  box-shadow: inset 1px 1px #99f, inset -1px -1px #339, 1px 1px #777, 2px 2px #888;
}

.horizontal-scrollbar {
  grid-template-columns: 1fr 16px 16px;
}
.horizontal-scrollbar > button:first-child {
  border-left: 0;
  border-right: 0;
  grid-column: 2;
}
.horizontal-scrollbar > button:first-child::after {
  border-right: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin: 3px 0 0 5px;
}
.horizontal-scrollbar > button:last-child {
  grid-column: 3;
}
.horizontal-scrollbar > button:last-child::after {
  border-left: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin: 3px 0 0 5px;
}
.horizontal-scrollbar > .scrollbar-track {
  grid-column: 1;
  grid-row: 1;
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb {
  top: 0;
  bottom: 0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background: repeating-linear-gradient(90deg, #ccf, #ccf 1px, #339 1px, #339 2px);
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb:active::after {
  background: repeating-linear-gradient(90deg, #99f, #99f 1px, #005 1px, #005 2px);
}

.vertical-scrollbar {
  grid-template-rows: 1fr 16px 16px;
  width: 16px;
}
.vertical-scrollbar > button:first-child {
  border-top: 0;
  border-bottom: 0;
  grid-row: 2;
}
.vertical-scrollbar > button:first-child::after {
  border-bottom: 4px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin: 5px 0 0 3px;
}
.vertical-scrollbar > button:last-child {
  grid-row: 3;
}
.vertical-scrollbar > button:last-child::after {
  border-top: 4px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin: 5px 0 0 3px;
}
.vertical-scrollbar > .scrollbar-track {
  grid-row: 1;
}
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb {
  left: 0;
  right: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background: repeating-linear-gradient(0, #339, #339 1px, #ccf 1px, #ccf 2px);
}
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb:active::after {
  background: repeating-linear-gradient(0, #005, #005 1px, #99f 1px, #99f 2px);
}

button, input[type=button], input[type=submit], input[type=reset], .button,
select:not([size], [multiple]), select[size="1"] {
  background-color: #DDDDDD;
  color: #000000;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 #DDDDDD, inset 2px 2px 0 #fff, inset -1px -1px 1px #555;
  padding: 2px 10px;
  min-width: 58px;
  text-align: center;
  font-weight: bold;
  cursor: default;
  user-select: none;
}
button:disabled, button.disabled, input[type=button]:disabled, input[type=button].disabled, input[type=submit]:disabled, input[type=submit].disabled, input[type=reset]:disabled, input[type=reset].disabled, .button:disabled, .button.disabled,
select:not([size], [multiple]):disabled,
select:not([size], [multiple]).disabled, select[size="1"]:disabled, select[size="1"].disabled {
  color: #777;
  border-color: #888;
  box-shadow: none;
}
button:not(:disabled, .disabled):active, button.active, input[type=button]:not(:disabled, .disabled):active, input[type=button].active, input[type=submit]:not(:disabled, .disabled):active, input[type=submit].active, input[type=reset]:not(:disabled, .disabled):active, input[type=reset].active, .button:not(:disabled, .disabled):active, .button.active,
select:not([size], [multiple]):not(:disabled, .disabled):active,
select:not([size], [multiple]).active, select[size="1"]:not(:disabled, .disabled):active, select[size="1"].active {
  background-color: #666666;
  color: #fff;
  box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #999;
}

input:not([type=button], [type=submit], [type=reset], [type=checkbox], [type=radio], [type=range]), textarea, .input,
select[multiple], select[size]:not([size="1"]) {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: -1px -1px #888;
  margin: 2px;
  padding: 2px;
}
input:not([type=button], [type=submit], [type=reset], [type=checkbox], [type=radio], [type=range])::selection, textarea::selection, .input::selection,
select[multiple]::selection, select[size]:not([size="1"])::selection {
  background-color: #ccf;
  color: #000;
}
input:not([type=button], [type=submit], [type=reset], [type=checkbox], [type=radio], [type=range]):disabled, input:not([type=button], [type=submit], [type=reset], [type=checkbox], [type=radio], [type=range]).disabled, textarea:disabled, textarea.disabled, .input:disabled, .input.disabled,
select[multiple]:disabled,
select[multiple].disabled, select[size]:not([size="1"]):disabled, select[size]:not([size="1"]).disabled {
  border-color: #555;
  box-shadow: 0 0 0 1px #ddd;
}
input:not([type=button], [type=submit], [type=reset], [type=checkbox], [type=radio], [type=range]):focus, input:not([type=button], [type=submit], [type=reset], [type=checkbox], [type=radio], [type=range]).focus, textarea:focus, textarea.focus, .input:focus, .input.focus,
select[multiple]:focus,
select[multiple].focus, select[size]:not([size="1"]):focus, select[size]:not([size="1"]).focus {
  outline: 2px solid #6666CC;
  border-radius: 1px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ddd;
  border: 1px solid #000;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #888;
  width: 12px;
  height: 12px;
}

input[type=checkbox]:not(:disabled):active {
  background: #777;
  box-shadow: inset 1px 1px 0 #555, inset -1px -1px 0 #999;
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  border-color: #888;
  box-shadow: none;
}

input[type=checkbox]:checked::after {
  content: "";
  display: block;
  width: 10px;
  height: 4px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  margin-left: 1px;
  transform: rotate(-45deg);
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
}

input[type=checkbox]:disabled:checked::after {
  box-shadow: none;
}

input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  color: var(--disabled);
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(to bottom right, #fff, #888);
  box-shadow: inset 1px 1px 0 #ddd, inset -1px -1px 0 #888;
  border: 1px solid #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

input[type=radio]:checked {
  background: linear-gradient(to bottom right, #555, #fff);
  box-shadow: inset 1px 1px 0 #555;
}

input[type=radio]:not(:disabled):active {
  background: linear-gradient(to bottom right, #444, #bbb);
  box-shadow: inset 1px 1px 0 #444;
}

input[type=radio]:checked::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 2px;
  margin-left: 2px;
}

input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
  outline: 1px dotted var(--border);
  outline-offset: 0;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

label > input[type=radio]:focus,
label > input[type=checkbox]:focus {
  outline: 1px dotted var(--border);
  outline-offset: 1px;
}

.window,
.dialog {
  padding: 2px 4px 4px;
  border: 1px solid #555;
  background: #ddd;
}

.window.active,
.window:focus-within,
.dialog.active,
.dialog:focus-within,
.menu {
  background: var(--window-frame-bg);
  border: 1px solid #000000;
  box-shadow: 1px 1px 0 #000000, inset 1px 0 0 #fff, inset 0 1px 0 #fff, inset -1px 0 0 #999, inset 0 -1px 0 #999;
}

.title-bar {
  background: #ddd;
  color: #777;
  display: flex;
  gap: 5px;
}

.window.active > .title-bar,
.window:focus-within > .title-bar,
.dialog.active > .title-bar,
.dialog:focus-within > .title-bar,
.title-bar.active {
  background: var(--window-frame-bg);
  color: #000;
}

.title-bar-text {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  font-size: 12px;
}

.title-bar-text::before,
.title-bar-text::after {
  display: block;
  content: "";
  flex-grow: 1;
  height: 12px;
}

.window.active > .title-bar > .title-bar-text::before,
.window.active > .title-bar > .title-bar-text::after,
.window:focus-within > .title-bar > .title-bar-text::before,
.window:focus-within > .title-bar > .title-bar-text::after,
.dialog.active > .title-bar > .title-bar-text::before,
.dialog.active > .title-bar > .title-bar-text::after,
.dialog:focus-within > .title-bar > .title-bar-text::before,
.dialog:focus-within > .title-bar > .title-bar-text::after,
.title-bar.active > .title-bar-text::before,
.title-bar.active > .title-bar-text::after {
  background: repeating-linear-gradient(0deg, #fff, #fff 1px, #777 1px, #777 2px);
}

.title-bar-buttons {
  display: flex;
  gap: 5px;
  visibility: hidden;
}

.window.active > .title-bar > .title-bar-buttons,
.window:focus-within > .title-bar > .title-bar-buttons,
.title-bar.active > .title-bar-buttons {
  visibility: visible;
}

.title-bar-buttons:first-child {
  margin-left: -1px;
}

.title-bar-buttons:last-child {
  margin-right: -1px;
}

.title-bar-buttons button {
  width: 11px;
  height: 11px;
  min-width: 0;
  border-radius: 0;
  border: 1px solid #222;
  margin: 1px;
  padding: 0;
  background: linear-gradient(to bottom right, #999, #fff);
  box-shadow: -1px -1px 0 #888, 1px 1px 0 #fff, inset 1px 1px 0 #ccc, inset -1px -1px 0 #888;
}

.title-bar-buttons button:active {
  background: linear-gradient(to bottom right, #444, #bbb);
  box-shadow: -1px -1px 0 #888, 1px 1px 0 #fff, inset -1px -1px 0 #999;
}

.window-body {
  color: #555;
  border: 1px solid #555;
  background: #eee;
}

.window.active > .window-body,
.window:focus-within > .window-body {
  color: #000;
  background: var(--window-bg);
  border: 1px solid #000;
  box-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #999, 0 -1px 0 #999;
}

[role=menu] {
  color: #000;
  background-color: #ddd;
  border: 1px solid #000;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888, 1px 1px #000;
}

[role=menubar] {
  color: #000;
  background-color: #ddd;
  border: 1px solid #000;
}

.menu > [role=menu] {
  border: 0;
}

[role=menu] li {
  padding: 1px 3px;
}

[role=menu] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}

[role=menu] li > ul {
  left: 100%;
  margin: 0;
  top: -1px;
  min-width: 200px;
}

[role=menubar] > li > ul {
  left: 0;
  top: 100%;
  min-width: 200px;
}

[role=menu] li:focus,
[role=menubar] li:focus {
  outline: none;
}

[role=menubar] > li {
  padding: 1px 8px;
}

[role=menu] li:focus-within,
[role=menubar] li:focus-within {
  background: #333399;
  box-shadow: inset 1px 0 #66c, inset -1px 0 #008;
  color: #fff;
}

[role=menu] li[aria-disabled],
[role=menubar] li[aria-disabled] {
  color: #777;
}

[role=menu] li[role=separator] {
  border-top: 1px solid #888;
  border-bottom: 1px solid #fff;
  height: 0;
  padding: 0;
  margin: 2px 0;
}

[role=menu] > li[aria-haspopup=true] {
  background-image: url(arrow-right.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

[role=menu] > li[aria-haspopup=true]:focus-within {
  background-image: url(arrow-right-active.gif);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.tabs > menu {
  display: flex;
  gap: 14px;
  overflow: hidden;
  padding: 0 10px;
}

.tabs > menu > button {
  border: 0;
  box-shadow: none;
  display: flex;
  padding: 0;
  min-width: 0;
  height: 23px;
  border-top: 1px solid #000;
  background: #ccc;
  box-shadow: inset 0 1px 0 #ccc, inset 0 2px 0 #ddd;
  position: relative;
}

.tabs > menu > button::before {
  display: block;
  content: "";
  border-left: 1px solid #000;
  box-shadow: inset 1px 0 #ccc;
  transform-origin: top left;
  transform: rotate(19.44deg);
  background: #ccc;
  width: 10px;
}

.tabs > menu > button::after {
  display: block;
  content: "";
  box-shadow: inset -1px 0 #ccc;
  border-right: 1px solid #000;
  transform-origin: top right;
  transform: rotate(-19.44deg);
  background: #ccc;
  width: 10px;
}

.tabs > menu > button:not([aria-selected=true]):active {
  background: #666;
  box-shadow: inset 0 1px 0 #444, inset 0 2px 0 #555;
}

.tabs > menu > button:not([aria-selected=true]):active::before {
  background: #666;
  box-shadow: inset 1px 0 #444, inset 1px 0 #555;
}

.tabs > menu > button:not([aria-selected=true]):active::after {
  background: #666;
  box-shadow: inset -1px 0 #444, inset -1px 0 #555;
}

.tabs > menu > button[aria-selected=true] {
  color: #000;
  background: #eee;
  box-shadow: inset 0 1px 0 #ccc, inset 0 2px 0 #fff;
  z-index: 2;
}

.tabs > menu > button[aria-selected=true]::before,
.tabs > menu > button[aria-selected=true]::after {
  background: #eee;
}

.tabs > [role=tabpanel] {
  position: relative;
  z-index: 1;
  margin-top: -2px;
  background: #eee;
  border: 1px solid #000;
  /*box-shadow: inset 1px 1px 0 #ccc, inset 2px 2px 0 #fff, inset -1px -1px 0 #999, inset -2px -2px 0 #bbb;*/
  box-shadow: inset 1px 0 0 #ccc, inset 2px 0 0 #fff, inset -1px -1px 0 #999, inset -2px -2px 0 #bbb;
}
