:root {
  --desktop-bg: #4AADA5;

  --primary-1: #003333;
  --primary-2: #0D716A;
  --primary-3: #308F91;
  --primary-4: #5AB9AD;
  --primary-5: #67DACD;
  --primary-6: #C8F8E9;

  --selection-bg: #9ff;
}
