:root {
  --desktop-bg: #9BA9C2;

  --primary-1: #293C6A;
  --primary-2: #4A6999;
  --primary-3: #6686B7;
  --primary-4: #7599D0;
  --primary-5: #93B6EA;
  --primary-6: #AFC9FF;

  --selection-bg: #9cf;
}

