:root {
  --desktop-bg: #C6490C;

  --primary-1: #001100;
  --primary-2: #003300;
  --primary-3: #336633;
  --primary-4: #669966;
  --primary-5: #99CC99;
  --primary-6: #CCFFCC;

  --selection-bg: #fc6;
}

