:root {
  --desktop-bg: #965CD2;

  --primary-1: #330033;
  --primary-2: #663366;
  --primary-3: #996699;
  --primary-4: #BE80BE;
  --primary-5: #DEA4DE;
  --primary-6: #FFCCFF;

  --selection-bg: #FFCCFF;
}

