:root {
  --desktop-bg: #5252C6;

  --primary-1: #000052;
  --primary-2: #31319C;
  --primary-3: #6363CE;
  --primary-4: #9C9CFF;
  --primary-5: #CECEFF;
  --primary-6: #EFEFEF;

  --selection-bg: #D6D6F7;
}
