:root {
  --desktop-bg: #FF7310;

  --primary-1: #A53100;
  --primary-2: #FF4200;
  --primary-3: #F76B18;
  --primary-4: #FF8400;
  --primary-5: #FF9C00;
  --primary-6: #FFC65A;

  --selection-bg: #FFCE63;
}
