:root {
  --desktop-bg: #21B542;

  --primary-1: #002100;
  --primary-2: #006331;
  --primary-3: #319C63;
  --primary-4: #31CE63;
  --primary-5: #63FF9C;
  --primary-6: #CEFFCE;

  --selection-bg: #7BDE9C;
}
