:root {
  --desktop-bg: #9C9CCE;

  --primary-1: #21214A;
  --primary-2: #52527B;
  --primary-3: #63639C;
  --primary-4: #8484BD;
  --primary-5: #B5B5EF;
  --primary-6: #CECEFF;

  --selection-bg: #CECEFF;
}
