:root {
  --desktop-bg: #ECB132;

  --primary-1: #887126;
  --primary-2: #CCAB3B;
  --primary-3: #E6C144;
  --primary-4: #F5DB61;
  --primary-5: #FEF491;
  --primary-6: #FFFEE6;

  --selection-bg: #FFFF99;
}
