:root {
  --desktop-bg: #EFEF6B;

  --primary-1: #003131;
  --primary-2: #316363;
  --primary-3: #427B7B;
  --primary-4: #639C9C;
  --primary-5: #9CCECE;
  --primary-6: #BDEFEF;

  --selection-bg: #CEFFFF;
}

