:root {
  --desktop-bg: #F8A73C;

  --primary-1: #336600;
  --primary-2: #99CC3E;
  --primary-3: #B5E040;
  --primary-4: #CDED6D;
  --primary-5: #DBFD75;
  --primary-6: #EDFFB7;

  --selection-bg: #ff9;
}



