:root {
  --desktop-bg: #E78911;

  --primary-1: #A43000;
  --primary-2: #FE4200;
  --primary-3: #F46F19;
  --primary-4: #FE8502;
  --primary-5: #FE9C02;
  --primary-6: #FFC05C;

  --selection-bg: #fc6;
}

