@use '../../util/util';

#{util.$buttons} {
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--button-light);
  border-bottom: 1px solid var(--button-dark);
  border-right: 1px solid var(--button-dark);
  padding: 2px 4px;
  cursor: default;
  user-select: none;

  &:focus, &.focus {
    outline: 1px solid var(--focus);
    outline-offset: 0;
  }

  &:disabled, &.disabled {
    color: var(--button-dark);
    text-shadow: 1px 1px 0 var(--button-light);
  }

  &:not(:disabled, .disabled):active, &.active {
    background-color: var(--button-active-bg);
    color: var(--button-active-fg);
    border: 1px solid var(--button-light);
    border-top: 1px solid var(--button-dark);
    border-left: 1px solid var(--button-dark);
  }
}
