.list {
  background: var(--button-active-bg);
  color: var(--button-active-fg);
  border: 2px solid var(--button-light);
  border-top: 2px solid var(--button-dark);
  border-left: 2px solid var(--button-dark);
  overflow: auto;
  cursor: default;
}

.list > [role="option"] {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.list > [role="option"][aria-selected="true"] {
  background-color: #FFFFFF;
  color: #000000;
}

.list > [role="option"]:focus {
  outline: 2px solid var(--focus);
  outline-offset: -2px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-grid > .icon {
  flex: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
  outline: none;
}

.icon-grid > .icon > img {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  margin-bottom: -2px;
  background-color: var(--button-active-bg);
  z-index: 1;
}

.icon-grid > .icon > .icon-label {
  text-align: left;
  border: 2px solid transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  min-width: 38px;
}

.icon-grid > .icon:focus > img {
  border-color: var(--focus);
}

.icon-grid > .icon:focus > .icon-label {
  border-color: var(--focus);
}

.icon-grid > .icon[aria-selected="true"] > img {
  background-color: #ffffff;
  color: #000000;
}

.icon-grid > .icon[aria-selected="true"] > .icon-label {
  background-color: #ffffff;
  color: #000000;
}

.detailed {
  width: 100%;
  border-spacing: 0;
}

.detailed th {
  text-align: left;
  font-weight: normal;
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--button-dark);
  border-top: 1px solid var(--button-light);
  border-left: 1px solid var(--button-light);
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed tr {
  outline: none;
}

.detailed tr:focus {
  outline: 2px solid var(--focus);
  outline-offset: -2px;
}

.detailed tr[aria-selected="true"] {
  background-color: #ffffff;
  color: #000000;
}

.detailed .icon:focus {
  outline-offset: -2px;
  outline: 2px solid var(--focus);
}

.detailed .icon[aria-selected="true"] {
  background-color: #ffffff;
  color: #000000;
}

.detailed td {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  margin-left: -4px;
}

.detailed td.icon {
  display: flex;
}

.detailed .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.detailed .icon > .icon-label {
  text-align: center;
  padding: 1px 3px 1px 0;
}

.detailed thead {
  position: sticky;
  top: 0;
}


.list ul[role="tree"] {
  margin: 1px 2px 3px;
  li {
    position: relative;
    list-style-type: none;

    & > details {
      margin: 0;
      display: block;

      & > summary {
        margin: 0;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          display: block;
          border: 1px solid var(--button-light);
          border-bottom: 1px solid var(--button-dark);
          border-right: 1px solid var(--button-dark);
          position: absolute;
          width: 14px;
          height: 14px;
          background-color: var(--button-bg);
          background-image: url(expand.svg);
          background-repeat: no-repeat;
          background-position: 2px 2px;
          top: 5px;
          left: 20px;
        }
      }

      &[open] > summary::before {
        background-image: url(collapse.svg);
      }

      & > ul {
        margin-left: -12px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 21px;
          left: 27px;
          height: 4px;
          border-left: 2px solid currentColor;
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 12px;
        left: 5px;
        width: 15px;
        border-bottom: 2px solid currentColor;
      }
    }
  }

  & > li > details {
    margin-left: 22px;
    
    & > summary::before {
      left: 2px;
    }

    & > ul::before {
      left: 9px;
    }

    &::after {
      display: none;
    }
  }

  .icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    outline: none;

    & > img {
      width: 16px;
      height: 16px;
      margin-right: 1px;
    }

    & > .icon-label {
      text-align: center;
      padding: 1px 3px;
    }
  }

  [role=treeitem] {
    display: inline-flex;
    outline: none;

    &:not(.icon) {
      padding: 1px;
    }

    &:focus {
      outline: 2px solid var(--focus);
      outline-offset: -2px;
    }

    &[aria-selected="true"] {
      background-color: #ffffff;
      color: #000000;
    }
  }

  ul {
    margin-left: 8px;
    padding-left: 10px;

    li {
      margin-left: -15px;
      padding-left: 40px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 4px;
        bottom: 0;
        border-left: 2px solid currentColor;
      }

      &:last-child::before {
        bottom: initial;
        height: 13px;
      }

      &:last-child::after {
        content: '';
        display: block;
        position: absolute;
        top: 12px;
        left: 5px;
        width: 15px;
        border-bottom: 2px solid currentColor;
      }
    }
  }
}
