:root {
  --focus: #B24D7A;

  --desktop-bg: #63639C;

  --button-bg: #AEB2C3;
  --button-fg: #000000;
  --button-active-bg: #9397A5;
  --button-active-fg: #000000;
  --button-dark: #5D6069;
  --button-light: #DCDEE5;
  --input-bg: #FFF7E9;
  --input-fg: #000;
  --input-dark: #99948B;
  --input-light: #CCC5BA;

  --dialog-button-bg: var(--button-bg);
  --dialog-button-fg: var(--button-fg);
  --dialog-button-active-bg: var(--button-active-bg);
  --dialog-button-active-fg: var(--button-active-fg);
  --dialog-button-dark: var(--button-dark);
  --dialog-button-light: var(--button-light);
  --dialog-input-bg: var(--input-bg);
  --dialog-input-fg: var(--input-fg);
  --dialog-input-dark: var(--input-dark);
  --dialog-input-light: var(--input-light);

  --select-active-bg: #000000;
  --select-active-fg: #FFFFFF;

  --title-bar-bg: var(--button-bg);
  --title-bar-fg: var(--button-fg);
  --title-bar-dark: var(--button-dark);
  --title-bar-light: var(--button-light);

  --title-bar-active-bg: #B24D7A;
  --title-bar-active-fg: #FFFFFF;
  --title-bar-active-dark: #58263C;
  --title-bar-active-light: #DDAFC3;
}

body {
  background-color: var(--button-bg);
  color: var(--button-fg);
  font-family: system-ui;
}

button::-moz-focus-inner {
  border: none;
}

.desktop {
  background: var(--desktop-bg);
}

.raised {
  background: var(--button-bg);
  border: 1px solid var(--button-light);
  border-bottom-color: var(--button-dark);
  border-right-color: var(--button-dark);
}

.lowered {
  background: var(--button-bg);
  border: 1px solid var(--button-dark);
  border-bottom-color: var(--button-light);
  border-right-color: var(--button-light);
}

.top-panel, .right-panel, .buttom-panel, .left-panel {
  background: var(--button-bg);
  border: 2px solid var(--button-light);
  border-bottom-color: var(--button-dark);
  border-right-color: var(--button-dark);
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

details > summary:focus,
button:focus,
select:focus,
input[type=text]:focus,
textarea:focus,
a:focus {
  outline: 1px solid var(--focus);
  outline-offset: 0;
}

details > summary,
button,
button:disabled:active {
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--button-light);
  border-bottom: 1px solid var(--button-dark);
  border-right: 1px solid var(--button-dark);
  padding: 2px 4px;
}

button:disabled,
button:disabled:active,
select:not([size]):disabled {
  color: var(--button-dark);
  text-shadow: 1px 1px 0 var(--button-light);
}

details > summary:active,
button:active {
  background-color: var(--button-active-bg);
  color: var(--button-active-fg);
  border: 1px solid var(--button-light);
  border-top: 1px solid var(--button-dark);
  border-left: 1px solid var(--button-dark);
}

select > option {
  padding: 2px 6px;
}

input[type=text],
pre,
textarea,
select:not([size="1"]) {
  background-color: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--input-dark);
  border-bottom: 1px solid var(--input-light);
  border-right: 1px solid var(--input-light);
  padding: 2px 6px;
  font-family: inherit;
  font-size: inherit;
}

input::selection,
textarea::selection {
  background-color: var(--input-fg);
  color: var(--input-bg);
}

select:not([size="1"]) {
  padding: 0;
}

input[type=text]:disabled,
textarea:disabled,
select:not([size="1"]):disabled {
  color: var(--input-dark);
  text-shadow: 1px 1px 0 var(--input-light);
}

select:not([size]),
select[size="1"],
select:not([size]):disabled:active,
select[size="1"]:disabled:active {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-bg);
  background-image: url(select.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
  color: var(--button-fg);
  border: 1px solid var(--button-light);
  border-bottom: 1px solid var(--button-dark);
  border-right: 1px solid var(--button-dark);
  padding: 2px 25px 2px 4px;
}

select:not([size]):disabled,
select[size="1"]:disabled,
select:not([size]):disabled:active,
select[size="1"]:disabled:active {
  color: var(--button-dark);
  text-shadow: 1px 1px 0 var(--button-light);
}

select:not([size]):active,
select[size="1"]:active {
  background-color: var(--button-active-bg);
  color: var(--button-active-fg);
  border: 1px solid var(--button-light);
  border-top: 1px solid var(--button-dark);
  border-left: 1px solid var(--button-dark);
}

input[type=checkbox],
input[type=checkbox]:checked:active,
input[type=checkbox]:disabled:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--button-light);
  border-bottom: 1px solid var(--button-dark);
  border-right: 1px solid var(--button-dark);
  width: 12px;
  height: 12px;
}

input[type=checkbox]:checked,
input[type=checkbox]:active,
input[type=checkbox]:checked:disabled:active {
  background: var(--button-active-bg) url(checkmark.gif);
  color: var(--button-active-fg);
  border: 1px solid var(--button-light);
  border-top: 1px solid var(--button-dark);
  border-left: 1px solid var(--button-dark);
}

input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  color: var(--button-dark);
  text-shadow: 1px 1px 0 var(--button-light);
}

input[type=radio],
input[type=radio]:checked:active,
input[type=radio]:disabled:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--button-light);
  border-bottom: 1px solid var(--button-dark);
  border-right: 1px solid var(--button-dark);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

input[type=radio]:checked,
input[type=radio]:active,
input[type=radio]:checked:disabled:active {
  background-color: var(--button-active-bg);
  color: var(--button-active-fg);
  border: 1px solid var(--button-light);
  border-top: 1px solid var(--button-dark);
  border-left: 1px solid var(--button-dark);
}

input[type=radio]:checked::after,
input[type=radio]:active::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--focus);
  margin-top: 2px;
  margin-left: 2px;
}

input[type=radio]:disabled:not(:checked):active::after {
  display: none;
}

input[type=radio]:focus + label,
input[type=checkbox]:focus + label {
  outline: 1px solid var(--focus);
  outline-offset: 1px;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

label > input[type=radio]:focus,
label > input[type=checkbox]:focus {
  outline: 1px solid var(--focus);
  outline-offset: 1px;
}

code {
  font-family: monospace;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--button-bg);
  border: 1px solid var(--button-dark);
  border-bottom: 1px solid var(--button-light);
  border-right: 1px solid var(--button-light);
}

progress::-webkit-progress-bar {
  background: var(--button-bg);
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background: var(--button-active-bg);
}

fieldset {
  border: 1px solid var(--button-dark);
  border-bottom-color: var(--button-light);
  border-right-color: var(--button-light);
  box-shadow: inset 1px 1px 0 var(--button-light), inset -1px -1px 0 var(--button-dark);
  position: relative;
}

legend {
  text-align: left;
  padding: 0 4px;
  background-color: var(--button-bg);
  display: block;
}

hr {
  border-top: 1px solid var(--button-dark);
  border-bottom: 1px solid var(--button-light);
}

.window,
.dialog,
.menu {
  background: var(--title-bar-active-bg);
  border: 2px solid var(--title-bar-active-light);
  border-bottom: 2px solid var(--title-bar-active-dark);
  border-right: 2px solid var(--title-bar-active-dark);
  position: relative;
  padding: 2px;
}

.title-bar {
  background: var(--title-bar-active-bg);
  color: var(--title-bar-active-fg);
  border-top: 1px solid var(--title-bar-active-dark);
  border-left: 1px solid var(--title-bar-active-dark);
  border-right: 1px solid var(--title-bar-active-light);
  display: flex;
  flex-direction: row;
}

.title-bar-text {
  text-align: center;
  border: 1px solid var(--title-bar-active-light);
  border-bottom: 1px solid var(--title-bar-active-dark);
  border-right: 1px solid var(--title-bar-active-dark);
  padding: 2px var(--padding);
  flex-grow: 1;
  cursor: default
}

.title-bar-buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.title-bar-buttons button {
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid var(--title-bar-active-light);
  border-bottom: 1px solid var(--title-bar-active-dark);
  border-right: 1px solid var(--title-bar-active-dark);
  width: 26px;
  background-repeat: no-repeat;
  background-position: center center;
}

.title-bar-buttons button:active,
.title-bar-text:active {
  background-color: transparent;
  border-color: var(--title-bar-active-dark);
  border-bottom-color: var(--title-bar-active-light);
  border-right-color: var(--title-bar-active-light);
  outline: none;
}

.title-bar-buttons button[data-close] {
  background-image: url(close.png);
}

.title-bar-buttons button[data-minimize] {
  background-image: url(minimize.png);
}

.title-bar-buttons button[data-maximize] {
  background-image: url(maximize.png);
}

.maximized .title-bar-buttons button[data-maximize] {
  background-image: url(restore.png);
}

.window-body,
.dialog-body {
  background: var(--button-bg);
  color: var(--button-fg);
  border-left: 1px solid var(--title-bar-active-dark);
  border-bottom: 1px solid var(--title-bar-active-light);
  border-right: 1px solid var(--title-bar-active-light);
}

.window-body:first-child,
.dialog-body:first-child {
  border-top: 1px solid var(--title-bar-active-dark);
}

.window.inactive,
.dialog.inactive {
  background: var(--title-bar-bg);
  border-color: var(--title-bar-light);
  border-bottom-color: var(--title-bar-dark);
  border-right-color: var(--title-bar-dark);
}

.window.inactive > .title-bar,
.dialog.inactive > .title-bar,
.title-bar.inactive {
  background: var(--title-bar-bg);
  color: var(--title-bar-fg);
  border-top-color: var(--title-bar-dark);
  border-left-color: var(--title-bar-dark);
  border-right-color: var(--title-bar-light);
}

.window.inactive > .title-bar .title-bar-text,
.window.inactive > .title-bar .title-bar-buttons button,
.dialog.inactive > .title-bar .title-bar-text,
.dialog.inactive > .title-bar .title-bar-buttons button,
.title-bar.inactive .title-bar-text,
.title-bar.inactive .title-bar-buttons button {
  border-color: var(--title-bar-light);
  border-bottom-color: var(--title-bar-dark);
  border-right-color: var(--title-bar-dark);
}

.window.inactive > .title-bar .title-bar-buttons button:active,
.dialog.inactive > .title-bar .title-bar-buttons button:active,
.title-bar.inactive .title-bar-buttons button:active,
.window.inactive > .title-bar .title-bar-text:active,
.dialog.inactive > .title-bar .title-bar-text:active,
.title-bar.inactive .title-bar-text:active {
  border-color: var(--title-bar-dark);
  border-bottom-color: var(--title-bar-light);
  border-right-color: var(--title-bar-light);
}

.window.inactive > .window-body,
.dialog.inactive > .dialog-body {
  background: var(--button-bg);
  border-left-color: var(--button-dark);
  border-bottom-color: var(--button-light);
  border-right-color: var(--button-light);
}

.window-body > [role=menubar],
.dialog-body > [role=menubar] {
  padding-left: calc(var(--margin) - 4px);
  padding-right: calc(var(--margin) - 4px);
}

.window-body > :not([role=menubar]),
.dialog-body > :not([role=menubar]) {
  background: var(--button-bg);
  border: 1px solid var(--button-light);
  border-bottom-color: var(--button-dark);
  border-right-color: var(--button-dark);
}

[role=menu],
[role=menubar] {
  color: var(--button-fg);
  background-color: var(--button-bg);
  border: 1px solid var(--button-light);
  border-right-color: var(--button-dark);
  border-bottom-color: var(--button-dark);
}

.menu > [role=menu] {
  border-top: 0;
  border-left-color: var(--title-bar-active-dark);
  border-right-color: var(--title-bar-active-light);
  border-bottom-color: var(--title-bar-active-light);
  box-shadow: inset 1px 1px 0 var(--button-light), inset -1px -1px 0 var(--button-dark);
  padding: 1px;
}

[role=menu] li,
[role=menubar] li {
  border: 1px solid transparent;
  padding: 1px 3px;
}

[role=menu] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}

[role=menu] li > ul {
  left: 100%;
  margin: 0;
  top: -1px;
  margin-left: 2px;
  min-width: 200px;
}

[role=menubar] > li > ul {
  left: 0;
  top: 100%;
  margin-left: -1px;
  margin-top: 1px;
  min-width: 200px;
}

[role=menu] li:focus,
[role=menubar] li:focus {
  outline: none;
}

[role=menu] li:focus-within,
[role=menubar] li:focus-within {
  border: 1px solid var(--button-dark);
  border-right-color: var(--button-light);
  border-bottom-color: var(--button-light);
  background-color: var(--button-active-bg);
}

[role=menu] li:focus-within > ul,
[role=menubar] li:focus-within > ul {
  display: block;
}

[role=menu] li[aria-disabled],
[role=menubar] li[aria-disabled] {
  color: var(--button-dark);
  text-shadow: 1px 1px 0 var(--button-light);
  border-color: transparent;
  background-color: var(--button-bg);
}

[role=menu] li[role=separator] {
  border-top: 1px solid var(--button-dark);
  border-bottom: 1px solid var(--button-light);
  height: 0;
  padding: 0;
}

[role=menu] > li[aria-haspopup=true] {
  background-image: url(arrow-right.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

[role=menubar] > li.help-menu {
  margin-left: auto;
}

[role=menubar] > li.help-menu > ul {
  right: 0;
  left: auto;
}

.dialog, [role=menu], [role=menubar] {
  --button-bg: var(--dialog-button-bg);
  --button-fg: var(--dialog-button-fg);
  --button-active-bg: var(--dialog-button-active-bg);
  --button-active-fg: var(--dialog-button-active-fg);
  --button-dark: var(--dialog-button-dark);
  --button-light: var(--dialog-button-light);
  --input-bg: var(--dialog-input-bg);
  --input-fg: var(--dialog-input-fg);
  --input-dark: var(--dialog-input-dark);
  --input-light: var(--dialog-input-light);
}

.tabs > menu {
  display: flex;
  flex-direction: row;
}

.tabs > menu > button {
  border-bottom: 0;
  min-width: 0;
  background-color: var(--button-bg);
}

.tabs > menu > button:focus,
.tabs > menu > button:active {
}

.tabs > menu > button[aria-selected="true"] {
  margin-bottom: -1px;
  padding-bottom: 3px;
  box-shadow: none;
  z-index: 1;
}

.tabs > [role="tabpanel"] {
  background: var(--button-bg);
  border: 1px solid var(--button-light);
  border-bottom-color: var(--button-dark);
  border-right-color: var(--button-dark);
}

.list {
  background: var(--button-active-bg);
  color: var(--button-active-fg);
  border: 2px solid var(--button-light);
  border-top: 2px solid var(--button-dark);
  border-left: 2px solid var(--button-dark);
  overflow: auto;
  cursor: default;
}

.list > [role="option"] {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.list > [role="option"][aria-selected="true"] {
  background-color: #FFFFFF;
  color: #000000;
}

.list > [role="option"]:focus {
  outline: 2px solid var(--focus);
  outline-offset: -2px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-grid > .icon {
  flex: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
  outline: none;
}

.icon-grid > .icon > img {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  margin-bottom: -2px;
  background-color: var(--button-active-bg);
  z-index: 1;
}

.icon-grid > .icon > .icon-label {
  text-align: left;
  border: 2px solid transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  min-width: 38px;
}

.icon-grid > .icon:focus > img {
  border-color: var(--focus);
}

.icon-grid > .icon:focus > .icon-label {
  border-color: var(--focus);
}

.icon-grid > .icon[aria-selected="true"] > img {
  background-color: #ffffff;
  color: #000000;
}

.icon-grid > .icon[aria-selected="true"] > .icon-label {
  background-color: #ffffff;
  color: #000000;
}

.detailed {
  width: 100%;
  border-spacing: 0;
}

.detailed th {
  text-align: left;
  font-weight: normal;
  background-color: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--button-dark);
  border-top: 1px solid var(--button-light);
  border-left: 1px solid var(--button-light);
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed tr {
  outline: none;
}

.detailed tr:focus {
  outline: 2px solid var(--focus);
  outline-offset: -2px;
}

.detailed tr[aria-selected="true"] {
  background-color: #ffffff;
  color: #000000;
}

.detailed .icon:focus {
  outline-offset: -2px;
  outline: 2px solid var(--focus);
}

.detailed .icon[aria-selected="true"] {
  background-color: #ffffff;
  color: #000000;
}

.detailed td {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  margin-left: -4px;
}

.detailed td.icon {
  display: flex;
}

.detailed .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.detailed .icon > .icon-label {
  text-align: center;
  padding: 1px 3px 1px 0;
}

.detailed thead {
  position: sticky;
  top: 0;
}
